<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.invistaja.invistaja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_invista_ja_simples"
        android:label="@string/str_nome_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activitys.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activitys.Principal"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activitys.Artigos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activitys.Login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activitys.Cadastro"
            android:screenOrientation="portrait" />

        <activity android:name=".view.activitys.Contato"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.activitys.Simulacao"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.activitys.Perfil"
            android:screenOrientation="portrait"/>
    </application>
</manifest>