<div class="s-row s-center s-logo-image">

    <div  class="s-card s-md-col-3 shadow-none s-md-back-transparent">

        <div class="s-card-content s-center" style="height: calc(90% - 0.9em); ">
            <img src="./app/resources/images/logo_main_1113.png" height="93.5px">
        </div>

        <div  class="s-card s-md-back-Green-A800">
            <div  class="s-card-head">
                <div class="s-card-content" style="height: calc(90% - 0.9em); ">
                    <div class="s-center">
                        <!--  <a style="border-radius: 4.6875em!important;width: 9.6875em!important; height: 9.6875em!important;" class="s-center btn-large ripple s-md-back-White  s-uppercase s-md-font-Black" style='float:right;top:-0.5em;'>
                              <div  class="s-center s-uppercase s-size-18" style="border-radius: 4.6875em !important;width: 4.6875em !important; height: 4.6875em !important;color:#43A047;">
                                  <span>
                                      <div>$!</div>
                                  </span> 
                              </div>
                          </a>
                          <div class="s-uppercase s-md-font-White">
                              <span class="s-size-17">
                                  <div class="s-size-18">invi$ta já!</div>
                                  análise financeira simples
                              </span> 
                          </div>
                        -->
                    </div>
                </div>
                <div class="s-card-content">
                    <div class="s-center s-size-12" id='select-company'>
                    </div>
                </div>
            </div>
            <div class="s-card-action">
                <a class="btn-card-  btn-quad btn-large ripple s-md-back-Orange-500  s-uppercase s-md-font-White" style='float:right;top:-0.5em;' mnu-name='bovespa-company-proceed'>
                    <div>
                        Visualizar
                    </div>
                </a>
            </div>
        </div> 
    </div>
</div>
