<div class="s-row s-center" >
    <div  class="s-card-200 s-md-col-5">  
        <div  class="s-card-horizontal s-md-back-White">  
            <div class="s-md-back-DeepPurple-600 s-card-head s-card-content-35">
                <div class="s-center s-uppercase s-size-18 s-md-font-White">
                    <span>
                        Bovespa
                    </span>
                </div>          
            </div>     
            <div class="s-card-body s-card-content-65 s-md-back-White">  
                <div  class="s-card-relative shadow-none" style="height: calc(90% - 0.9em);width:calc(100% - 0.9em); ">  
                    <div  class="s-card-vertical s-md-back-White">  
                        <div class="s-card-head s-card-content-50">
                            <div class="s-center s-uppercase s-size-12">
                                <span>
                                    selecione uma empresa
                                </span>
                            </div>          
                        </div>     
                        <div class="s-card-body s-card-content-35 s-md-back-White">  
                            <div class="s-center s-size-12" id='select-company'> 
                            </div>                           
                        </div>
                    </div>     
                </div>
                <a class="btn-quad btn-large ripple  s-md-back-Indigo-500  s-uppercase s-md-font-White" style='float:right;' mnu-name='bovespa-company-proceed'> 
                    <div>
                        prosseguir
                    </div>
                </a>
            </div>
        </div>
    </div>     
</div>



