<!DOCTYPE html>
<div class="s-md-row s-md-back-Red-A100 table-Sek s-columns-3 s-center">
    <table>
        <thead>
            <tr>

                <th>
                    <span>
                        <a href="#graphic-pct" class="s-md-font-White">
                            <div>R$ 45,89</div>
                            participação de capital de terceiros (PCT)
                        </a>
                    </span>
                </th>


                <th>
                    <span>
                        <a href="#graphic-ce" class="s-md-font-White">
                            <div>R$100</div>
                            composição do endividamento (CE)
                        </a>
                    </span>
                </th>
                <th>
                    <span>
                        <div>R$100,890</div>
                        Imobilização do Patrimônio Líquido (IPL)
                    </span>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="s-md-row">
    <br>
</div>
<div class="s-md-row margin-left-1">
    <div  class="s-card-relative s-md-col-12  shadow-none" style="min-height: calc(100% - 0.9em);">
        <div  class="s-card-vertical  s-md-back-transparent">
            <div class="s-card-head s-card-content-35">
                <div class="s-center s-uppercase s-size-12 s-md-font-Black title">
                    <h1 style="display:block;">PCT</h1>
                    <span>Participação de Capitais de Terceiros</span>
                </div>
            </div>
            <div class="s-card-body s-card-content-65 s-md-back-transparent">
                <div  class="s-card-relative s-md-col-12 shadow-none">
                    <div  class="s-card-horizontal  s-md-back-transparent">
                        <div class="s-card-body s-card-content-55">
                            <div  class="s-card-400 s-md-col-12">
                                <div  class="s-card-vertical ">
                                    <div class="s-card-body s-card-content-100 s-md-back-Orange-400" id="graphic-pct">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-card-head s-card-content-45">
                            <div class="s-center s-uppercase s-size-12 s-md-font-Black title"> 
                                <p>  Pellentesque interdum scelerisque porttitor. 
                                    Nulla at imperdiet nunc. Aenean pharetra lorem dui, in sagittis enim pulvinar ultricies. Cras at tortor maximus, mollis nulla at, molestie quam. Aenean sollicitudin orci id tellus posuere tempor. Nunc luctus libero in lorem finibus, non convallis enim tincidunt. Fusce sed metus id purus consectetur consequat eget vel sapien. Aenean vulputate posuere dolor, vitae eleifend diam ultrices id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, tellus ut maximus mattis, turpis elit venenatis turpis, ut posuere lacus sapien ac nisl. Duis porta vestibulum ornare. Nulla lacinia condimentum commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="s-md-row">
    <br>
</div>
<div class="s-md-row margin-left-1">
    <div  class="s-card-relative s-md-col-12  shadow-none" style="min-height: calc(100% - 0.9em);">
        <div  class="s-card-vertical  s-md-back-transparent">
            <div class="s-card-head s-card-content-35">
                <div class="s-center s-uppercase s-size-12 s-md-font-Black title">
                    <h1 style="display:block;">CE</h1>
                    <span>Composição do Endividamento</span>
                </div>
            </div>
            <div class="s-card-body s-card-content-65 s-md-back-transparent">
                <div  class="s-card-relative s-md-col-12 shadow-none">
                    <div  class="s-card-horizontal  s-md-back-transparent">
                        <div class="s-card-body s-card-content-55">
                            <div  class="s-card-400 s-md-col-12">
                                <div  class="s-card-vertical ">
                                    <div class="s-card-body s-card-content-100 s-md-back-Orange-400" id="graphic-ce">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-card-head s-card-content-45">
                            <div class="s-center s-uppercase s-size-12 s-md-font-Black title"> 
                                <p>  Pellentesque interdum scelerisque porttitor. 
                                    Nulla at imperdiet nunc. Aenean pharetra lorem dui, in sagittis enim pulvinar ultricies. Cras at tortor maximus, mollis nulla at, molestie quam. Aenean sollicitudin orci id tellus posuere tempor. Nunc luctus libero in lorem finibus, non convallis enim tincidunt. Fusce sed metus id purus consectetur consequat eget vel sapien. Aenean vulputate posuere dolor, vitae eleifend diam ultrices id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, tellus ut maximus mattis, turpis elit venenatis turpis, ut posuere lacus sapien ac nisl. Duis porta vestibulum ornare. Nulla lacinia condimentum commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="s-md-row">
    <br>
</div>
<div class="s-md-row margin-left-1">
    <div  class="s-card-relative s-md-col-12  shadow-none" style="min-height: calc(100% - 0.9em);">
        <div  class="s-card-vertical  s-md-back-transparent">
            <div class="s-card-head s-card-content-35">
                <div class="s-center s-uppercase s-size-12 s-md-font-Black title">
                    <h1 style="display:block;">CE</h1>
                    <span>Composição do Endividamento</span>
                </div>
            </div>
            <div class="s-card-body s-card-content-65 s-md-back-transparent">
                <div  class="s-card-relative s-md-col-12 shadow-none">
                    <div  class="s-card-horizontal  s-md-back-transparent">
                        <div class="s-card-body s-card-content-55">
                            <div  class="s-card-400 s-md-col-12">
                                <div  class="s-card-vertical ">
                                    <div class="s-card-body s-card-content-100 s-md-back-Orange-400" id="graphic-ipl">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-card-head s-card-content-45">
                            <div class="s-center s-uppercase s-size-12 s-md-font-Black title"> 
                                <p>  Pellentesque interdum scelerisque porttitor. 
                                    Nulla at imperdiet nunc. Aenean pharetra lorem dui, in sagittis enim pulvinar ultricies. Cras at tortor maximus, mollis nulla at, molestie quam. Aenean sollicitudin orci id tellus posuere tempor. Nunc luctus libero in lorem finibus, non convallis enim tincidunt. Fusce sed metus id purus consectetur consequat eget vel sapien. Aenean vulputate posuere dolor, vitae eleifend diam ultrices id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, tellus ut maximus mattis, turpis elit venenatis turpis, ut posuere lacus sapien ac nisl. Duis porta vestibulum ornare. Nulla lacinia condimentum commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

