<!DOCTYPE html>
<div class="s-md-row shadow s-md-back-Red-A100  s-columns-4 s-card-seek" style="min-height:8.7em;">
    <div class="s-card  shadow-none">
        <div class="s-card-body s-md-back-Red-A100">
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-17 s-md-font-White title">    
                    <span><json bind-value='bovespa.indebtedness.pct'>0</json></span>                           
                </div>
            </div>
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-12 s-md-font-White title">   
                    <span>Liquidez Geral</span>
                </div>
            </div>                    
        </div>               
    </div>
    <div class="s-card  shadow-none">
        <div class="s-card-body s-md-back-Red-A100">
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-17 s-md-font-White title">    
                    <span><json bind-value='bovespa.indebtedness.ce'>0</json></span>                           
                </div>
            </div>
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-12 s-md-font-White title">   
                    <span>Índice de Liquidez Corrente</span>
                </div>
            </div>                    
        </div>               
    </div>
    <div class="s-card shadow-none">
        <div class="s-card-body s-md-back-Red-A100">
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-17 s-md-font-White title">    
                    <span><json bind-value='bovespa.indebtedness.ipl'>0</json></span>                           
                </div>
            </div>
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-12 s-md-font-White title">   
                    <span>Índice de Liquidez Seca </span>
                </div>
            </div>                    
        </div>               
    </div>
    <div class="s-card shadow-none">
        <div class="s-card-body s-md-back-Red-A100">
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-17 s-md-font-White title">    
                    <span><json bind-value='bovespa.indebtedness.ipl'>0</json></span>                           
                </div>
            </div>
            <div class="s-card-content">                        
                <div class="s-center s-uppercase s-size-12 s-md-font-White title">   
                    <span>Capital Circulante Líquido</span>
                </div>
            </div>                    
        </div>               
    </div>
</div>  
<div class="s-md-row margin-left-1">

</div>
<div class="s-md-row margin-left-1 s-columns-2">
    <div class="s-columns-2">
        <div class="s-card s-md-back-White">
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>Liquidez Geral</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-ipl">                        
                    <div  id="graphic-ipl" class='s-md-chart-theme-orange' style=" min-height: 235px;">

                    </div>
                </div>              
            </div>       
            <div class="s-card-action">
                <div>          
                    <br>
                </div>
            </div>     
        </div>
        <div>          
            <ol class="s-uppercase s-size-12 s-md-font-GrayCyan-200">
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer sed mollis sapien. Aenean at erat ligula.                     
                    </p>
                    <p>                    
                        Aenean placerat blandit sollicitudin. 
                        Sed ornare pretium maximus. 
                        Curabitur sed scelerisque dolor, a ultricies nisi. Ut sit amet magna eget sapien luctus hendrerit vulputate at risus. 
                        Sed augue dolor, tempor ut fermentum et, consequat in tortor. 
                        Aliquam sed ullamcorper nunc. Donec sapien nisi, ullamcorper non auctor id, viverra sit amet neque. Sed viverra quam ligula, 
                        sed sodales erat tincidunt sit amet.
                    </p>
                </li>            
            </ol>
        </div>
    </div>
    <div class="s-columns-2">
        <div class="s-card s-md-back-White">
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>Índice de Liquidez Corrente</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-ipl">                        
                    <div  id="graphic-ipl" class='s-md-chart-theme-orange' style=" min-height: 235px;">

                    </div>
                </div>              
            </div>       
            <div class="s-card-action">
                <div>          
                    <br>
                </div>
            </div>     
        </div> 
        <div>          
            <ol class="s-uppercase s-size-12 s-md-font-GrayCyan-200">
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer sed mollis sapien. Aenean at erat ligula.                     
                    </p>
                    <p>                    
                        Aenean placerat blandit sollicitudin. 
                        Sed ornare pretium maximus. 
                        Curabitur sed scelerisque dolor, a ultricies nisi. Ut sit amet magna eget sapien luctus hendrerit vulputate at risus. 
                        Sed augue dolor, tempor ut fermentum et, consequat in tortor. 
                        Aliquam sed ullamcorper nunc. Donec sapien nisi, ullamcorper non auctor id, viverra sit amet neque. Sed viverra quam ligula, 
                        sed sodales erat tincidunt sit amet.
                    </p>
                </li>            
            </ol>
        </div>
    </div>
</div>
<div class="s-md-row margin-left-1">

</div>
<div class="s-md-row margin-left-1 s-columns-2">
    <div class="s-columns-2">
        <div class="s-card s-md-back-White">
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>Índice de Liquidez Seca</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-ipl">                        
                    <div  id="graphic-ipl" class='s-md-chart-theme-orange' style=" min-height: 235px;">

                    </div>
                </div>              
            </div>       
            <div class="s-card-action">
                <div>          
                    <br>
                </div>
            </div>     
        </div>
        <div>          
            <ol class="s-uppercase s-size-12 s-md-font-GrayCyan-200">
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer sed mollis sapien. Aenean at erat ligula.                     
                    </p>
                    <p>                    
                        Aenean placerat blandit sollicitudin. 
                        Sed ornare pretium maximus. 
                        Curabitur sed scelerisque dolor, a ultricies nisi. Ut sit amet magna eget sapien luctus hendrerit vulputate at risus. 
                        Sed augue dolor, tempor ut fermentum et, consequat in tortor. 
                        Aliquam sed ullamcorper nunc. Donec sapien nisi, ullamcorper non auctor id, viverra sit amet neque. Sed viverra quam ligula, 
                        sed sodales erat tincidunt sit amet.
                    </p>
                </li>            
            </ol>
        </div>
    </div>
    <div class="s-columns-2">
        <div class="s-card s-md-back-White">
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>CAPITAL CIRCULANTE LÍQUIDO</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-ipl">                        
                    <div  id="graphic-ipl" class='s-md-chart-theme-orange' style=" min-height: 235px;">

                    </div>
                </div>              
            </div>       
            <div class="s-card-action">
                <div>          
                    <br>
                </div>
            </div>     
        </div> 
        <div>          
            <ol class="s-uppercase s-size-12 s-md-font-GrayCyan-200">
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer sed mollis sapien. Aenean at erat ligula.                     
                    </p>
                    <p>                    
                        Aenean placerat blandit sollicitudin. 
                        Sed ornare pretium maximus. 
                        Curabitur sed scelerisque dolor, a ultricies nisi. Ut sit amet magna eget sapien luctus hendrerit vulputate at risus. 
                        Sed augue dolor, tempor ut fermentum et, consequat in tortor. 
                        Aliquam sed ullamcorper nunc. Donec sapien nisi, ullamcorper non auctor id, viverra sit amet neque. Sed viverra quam ligula, 
                        sed sodales erat tincidunt sit amet.
                    </p>
                </li>            
            </ol>
        </div>
    </div>
</div>