<!DOCTYPE html>
<div class="s-md-row s-md-back-Red-A100">
    <div class="s-body-menu-top s-columns-6 s-md-font-White s-center">
        <table>
            <thead>
                <tr>
                    <th>
                        <span>
                            <div>R$ 45,89</div>
                            custos
                        </span>
                    </th>
                    <th>
                        <span>
                            <div>R$100</div>
                            direito
                        </span>
                    </th>
                    <th>
                        <span>
                            <div>R$100,890</div>
                            bens
                        </span>
                    </th>
                    <th>
                        <span>
                            <div>R$10</div>
                            obrigrações
                        </span>
                    </th>
                    <th>
                        <span>
                            <div>R$99</div>
                            investimentos
                        </span>
                    </th>
                    <th>
                        <span>
                            <div>R$56</div>
                            imobilizado
                        </span>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="s-md-row">
    <br>
</div>
<div class="s-md-row s-columns-5 s-md-font-GrayCyan margin-left-1 margin-top-1">
    <div  class="s-card-300 s-md-back-White">
        <div class="s-md-back-White s-card-head s-card-content-25">
            <div class="s-center s-uppercase s-size s-md-font-GrayCyan">
                <span>
                    CONTABILIDADE
                </span>
            </div>        
        </div>
        <div class="s-md-back-White s-card-body s-card-content-75">                      
        </div>
    </div>
    <div  class="s-card-200 s-md-back-White">
        <div class="s-md-back-White s-card-head s-card-content-25">
            <div class="s-center s-uppercase s-size s-md-font-GrayCyan">
                <span>
                    CONTABILIDADE
                </span>
            </div>          
        </div>
        <div class="s-md-back-White s-card-body s-card-content-75">                            
        </div>
    </div>
    <div  class="s-card-200 s-md-back-White">  
</div>
<div class="s-md-row s-md-font-GrayCyan margin-left-1 margin-top-1">
    <div  class="s-md-col-12 s-card-relative s-md-back-White">
        <div class="s-md-back-White s-card-head s-card-content-25">
            <div class="s-center s-uppercase s-size s-md-font-White">
                <span>
                    CONTABILIDADE
                </span>
            </div>
        </div>
        <div class="s-md-back-White s-card-body s-card-content-75">
            <div class="s-table">
                <div class="s-table-body s-columns-5">
                    <table style='max-height: 200px;'>
                        <thead>
                            <tr>
                                <th>
                        <div >  
                            <span>
                                CONTAS
                            </span>
                        </div>
                        </th>
                        <th>
                        <div >  
                            <span>
                                SALDO(R$)
                            </span>
                        </div>
                        </th>
                        <th>
                        <div >  
                            <span>
                                CATEGORIA
                            </span>
                        </div>
                        </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Estoque Mercadoria
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            35.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            BEM
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Salários a pagar
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            20.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            OBRIGAÇÃO
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Edificios
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            80.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            BEM
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Banco conta Movimento
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            10.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            DIREITO
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Patentes
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            50.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            BEM
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Ações
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            100.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            DIREITOS
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>  
                                        <span>
                                            Impostos
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            25.000
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>  
                                        <span>
                                            OBRIGAÇÕES
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
