<!DOCTYPE html>
<nav class ='s-body-menu s-md-back-GrayCyan'>
    <div class="s-menu-bar s-md-back-Green-600">
        <div class="wrapper-line">
            <div class="s-body-menu-top s-md-font-White">
                <div class="s-center" style="padding-bottom: 5px;">
                    <a style="border-radius: 4.6875em!important;width: 5.6875em!important; height: 5.6875em!important;" class="s-center btn-large ripple s-md-back-White  s-uppercase s-md-font-Black" >
                        <div  class="s-center s-uppercase s-size-12" style="border-radius: 4.6875em !important;width: 4.6875em !important; height: 4.6875em !important;color:#43A047;">
                            <span style="padding-bottom: 10px;">
                                <div>$!</div>
                            </span> 
                        </div>
                    </a>
                </div>
                <div class="s-center s-uppercase s-md-font-White">
                    <span class="s-size">
                        <div class="s-size-17">invi$ta já!</div>
                        análise financeira simples
                    </span> 
                </div>  
            </div>
        </div>        
    </div>
    <div class="s-menu-name s-md-back-Green-600 s-columns-1">
        <div class=" s-md-back-Green-600 s-center s-uppercase s-size-12 s-md-font-White title">    
            <json bind-value='bovespa.company.name'></json>
        </div>
        <div class="s-md-back-Green-600 s-center s-uppercase s-size-12 s-md-font-White title">     
            <json bind-value='bovespa.company.cnpj'></json> 
        </div>
    </div>
    <div class="s-menu-nav s-md-back-GrayCyan">
        <ul class="s-menu-nav-hidden">
            <li class="s-menu-nav-mnu s-md-font-White">
                <menu class="btn-spherical ripple" mnu-name="bovespa-mun-hidden">
                    <svg class="s-md-fill-White" width="24px" height="24px" viewBox="0 0 48 48" ><path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path></svg>
                </menu>
            </li>
        </ul>
        <ul class="s-menu-nav-hidden-option s-md-back-GrayCyan s-menu-nav-hidden-none" mnu-hidden = 'mnu-main'>
            <li class="wrapper s-menu-nav-mnu ripple s-md-font-White s-menu-nav-mnu-select" mnu-name='bovespa-indebtedness'>
                <div class="wrapper">
                    Endividamento                                                        
                </div>                      
            </li>
            <li class="wrapper s-menu-nav-mnu ripple s-md-font-White" mnu-name='bovespa-liquidity'>
                <div class="wrapper">
                    Liquidez
                </div>                       
            </li>
            <li class="wrapper s-menu-nav-mnu ripple s-md-font-White" mnu-name='bovespa-profitability'>
                <div class="wrapper">
                    Rentabilidade
                </div>                       
            </li>
            <li class="wrapper s-menu-nav-mnu ripple s-md-font-White" mnu-name='bovespa-midterm'>
                <div class="wrapper">
                    Prazos Médios
                </div>                       
            </li>
            <li class="wrapper s-menu-nav-mnu ripple s-md-font-White" mnu-name='bovespa-exit'>
                <div class="wrapper">
                    Sair
                </div>                       
            </li>
        </ul>
    </div>
</nav>
<main class='s-body-content'>

</main>    