/*
#######################RESPONSIVIDADE#######################
*/
@import "variables.less";

.menu_bar_control_responsive(){
    vertical-align: top;
    max-width: 0%;
    min-width:0%;    
    font-size: @font-size-bar;                
    box-shadow: none;

    >  .s-menu-nav
    {
        min-width: 100%;
        min-width: 100%;
    }

    >  .s-menu-nav-hidden{
        visibility: visible;
        position: fixed;
        right: 0.1em;            
        min-height: 5.250em;
        width: 46px  !important;    
        height: 46px  !important;
        .border-radius();

        li , menu {
            width: 46px  !important;    
            height: 46px  !important; 
            position: fixed;
            top: 5.150em;   
            right: 0.1em;
        }
    }

    > .s-menu-nav-hidden-option{
        z-index: 2;
        position: fixed;
        right: -0.1em;
        max-width:calc(100%);  
        top:6.820em;   
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        .border-radius();       

        div {
            font-size: 0.8em;
        }
    }

    > .s-menu-nav-hidden-none  {           
        min-height: 0px;
        max-height: 0px;      
        visibility: hidden;
        top: -2%;          
    }

    > .s-menu-nav-mnu{
        .border-radius(); 
    }

    > .s-menu-nav-hidden {   
        z-index: 3;              
        menu  { 
            background-color: #3c4a57;
        }

        .s-menu-nav-mnu:hover {
            background: transparent;
        }  
        .s-menu-nav-mnu:active .s-md-nav-mnu-item-wrap {
            background: transparent;
        }
    }

    ul {
        li {
            //padding: 2.500em;
            div{
                div{
                    padding: 1.500em;
                    menu  {                            
                        background-color: #3c4a57;
                    }
                }
            }

        }
    } 

    .s-menu-nav-hidden{           
        width: 100%;

        /*            max-width: 3.00875em;*/
        ul {
            li {
                padding: 0em;
                div{
                    padding: 0em;
                }

            }
        } 
    }

    .s-menu-nav-hidden-option{           
        right: 0em;
        max-width:calc(100%);       
    }

}

@media screen and (max-width: 22.9375em) {
    .s-menu-nav {      
        .menu_bar_control_responsive();  
        .s-menu-nav-mnu-item { 
            > .s-menu-nav-hidden-option {
                div {
                    font-size: 0.9em !important;  
                }
            }
        }
    } 

    body{
        .s-body-menu {
            .s-menu-bar {
                vertical-align: top;
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }
        }
    }

    .s-columns-2,
    .s-columns-3,
    .s-columns-4,
    .s-columns-5,
    .s-columns-6,
    .s-columns-7,
    .s-columns-8,
    .s-columns-9,
    .s-columns-10,
    .s-columns-11,
    .s-columns-12{
        > table td, > table th  {
            .s-columns(@col : 1);
        }
        > div {
            .s-columns(@col : 1);
        }
    }

    .s-body-menu-top{                 
        th,td {
            border-right:  none !important;
            border-bottom:  1px solid #ececec;
        }  
    }

    .s-menu-nav-mnu {
        * {
            display: block;
            position:static;
            font-size:1em;
        }
    }    
}

@media screen and (min-width: 23em) and (max-width: 47.9375em) {
    .s-menu-nav {   
        .menu_bar_control_responsive();
        > .s-menu-nav-hidden-option{          
            max-width:11.875em;         
        }       

        .s-menu-nav-mnu-item {     
            .menu_bar_control_responsive();
            max-width:11.875em !important;  
            padding: 2.100em !important;  
            min-height: 10.250em !important;  
            max-height: 10000em !important;  
            box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);              
            * {
                font-size: 0.9em !important;  
            }
        }
    }


    .s-columns-2,
    .s-columns-3,
    .s-columns-4,
    .s-columns-5,
    .s-columns-6,
    .s-columns-7,
    .s-columns-8,
    .s-columns-9,
    .s-columns-10,
    .s-columns-11,
    .s-columns-12{
        > table td, > table th  {
            .s-columns(@col : 2);
        }
        > div {
            .s-columns(@col : 1);
        }
    }

}

@media screen and (max-width: 47.9375em) {
    body{
        .s-body-menu,
        .s-body-content {
            min-height: 0px;             
            vertical-align: top;
        }
        .s-body-menu {
            position:fixed;
            min-width: 100%;   
            max-width: 100%; 
            vertical-align: top;            
            max-height: @max-heigth;

            .s-menu-bar {
                vertical-align: top;
                /*max-width: 74.87%;*/
                min-width: 45%;
                min-height: 100%;
                max-height: 100%;
            }
            .s-menu-nav{
                min-height: 6.250em;
                max-height: 6.250em;                
            } 

            .s-menu-bar{ 
                color: @White;
                font-size: @font-size-bar;
            }           

        }
        .s-body-content {
            margin-top : calc(@max-heigth + 1em);
            position:static;
            margin-left: 0;
            min-width: 100%;
        }
    } 
    .s-card,
    .s-card-100,
    .s-card-150 ,
    .s-card-200 ,
    .s-card-300 ,
    .s-card-400 ,
    .s-card-500 ,
    .s-card-600,
    .s-card-700 ,
    .s-card-800 ,
    .s-card-900 ,
    .s-card-flex-100 ,
    .s-card-flex-200 ,
    .s-card-flex-300 ,
    .s-card-flex-400 ,
    .s-card-flex-500 ,
    .s-card-flex-600,
    .s-card-flex-700,
    .s-card-flex-800,
    .s-card-flex-900 ,
    .s-card-relative {
        margin-left: 0.19em !important;    
        .s-card-horizontal{
            height: 100%!important;   
            width:  100%!important;

            > .s-card-head,
            > .s-card-body{
                height: 100%!important;      
            }
            
            >   .s-card-content,
            >   .s-card-content-1,
            >   .s-card-content-20,
            >   .s-card-content-25,
            >   .s-card-content-30,
            >   .s-card-content-35,
            >   .s-card-content-40,
            >   .s-card-content-45,
            >   .s-card-content-50,
            >   .s-card-content-55,
            >   .s-card-content-60,
            >   .s-card-content-65,
            >   .s-card-content-70,
            >   .s-card-content-75,
            >   .s-card-content-80,
            >   .s-card-content-85,
            >   .s-card-content-90,
            >   .s-card-content-95,
            >   .s-card-content-100{
                width: 100%!important;
            }
        

            >   .s-card-content{
                height:  calc(10%-0.9rem)!important;
            }
            >   .s-card-content-15{
                height: calc(15%-0.9rem)!important;
            } 
            >   .s-card-content-20{
                height: calc(20%-0.9rem)!important;
            }
            >   .s-card-content-25{
                height: calc(25%-0.9rem)!important;
            }
            >   .s-card-content-30{
                height: calc(30%-0.9rem)!important;
            }
            >   .s-card-content-35{
                height: calc(35%-0.9rem)!important;
            }
            >   .s-card-content-40{
                height: calc(40%-0.9rem)!important;
            }
            >   .s-card-content-45{
                height: calc(45%-0.9rem)!important;
            }
            >   .s-card-content-50{
                height: calc(50%-0.9rem)!important;
            }
            >   .s-card-content-55{
                height: calc(55%-0.9rem)!important;
            }
            >   .s-card-content-60{
                height: calc(60%-0.9rem)!important;
            }
            >   .s-card-content-65{
                height: calc(65%-0.9rem)!important;
            }
            >   .s-card-content-70{
                height: calc(70%-0.9rem)!important;
            }
            >   .s-card-content-75{
                height: calc(75%-0.9rem)!important;
            }
            >   .s-card-content-80{
                height: calc(80%-0.9rem)!important;
            }
            >   .s-card-content-85{
                height: calc(85%-0.9rem)!important;
            }
            >   .s-card-content-90{
                height: calc(90%-0.9rem)!important;
            }
            >   .s-card-content-95{
                height: calc(95%-0.9rem)!important;
            }
            >   .s-card-content-100{
                height: 100%!important;
            }
        }
    } 



    .s-md-row,
    .s-md-col-12,
    .s-md-col-11,
    .s-md-col-10,
    .s-md-col-9 ,
    .s-md-col-8,
    .s-md-col-7 ,
    .s-md-col-6 ,
    .s-md-col-5 ,
    .s-md-col-4 ,
    .s-md-col-3 ,
    .s-md-col-2,
    .s-md-col-1 {   
        width: 99%; 
        margin: 0 auto;
    }

    .s-md-row,
    .s-md-col-12 {
        .s-body-menu-top{
            width: @col-12;
        } 
    }
    .s-md-col-11     {   
        .s-body-menu-top{
            width: @col-11;
        }    
    }
    .s-md-col-10    {   
        .s-body-menu-top{
            width: @col-10;
        }    
    }
    .s-md-col-9     {   
        .s-body-menu-top{
            width: @col-9;
        }    
    }
    .s-md-col-8  {   
        .s-body-menu-top{
            width: @col-8;
        }    
    }
    .s-md-col-7   {   
        .s-body-menu-top{
            width: @col-7;
        }    
    }
    .s-md-col-6   {   
        .s-body-menu-top{
            width: @col-6;
        }    
    }
    .s-md-col-5   {   
        .s-body-menu-top{
            width: @col-5;
        }    
    }
    .s-md-col-4   {   
        .s-body-menu-top{
            width: @col-4;
        }    
    }
    .s-md-col-3   {   
        .s-body-menu-top{
            width: @col-3;
        }    
    }
    .s-md-col-2  {   
        .s-body-menu-top{
            width: @col-2;
        }    
    }
    .s-md-col-1 {   
        .s-body-menu-top{
            width: @col-1;
        }    
    }

    .table-Sek table,thead,tr{
        height: 100%;
        th,td {
            height:  7.8125em;
            border-right: 1px solid #ececec;
            span {
                padding-top: calc(25%/2.5);
                display: block;
                text-align: center;
                white-space: nowrap;
                overflow: hide;
                width: 100%;
                .uppercase();            
            }
        } 
    }


} 
/*
#######################RESPONSIVIDADE#######################
*/

