/*
####################### CARDS #######################
*/
.border-radius (@radius: 2.5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.s-card(@height: 5em){
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    margin-top: 0.19em !important;
    height: @height;
    .border-radius;   

    .s-card-head,
    .s-card-body{
        width: 100%;       
    }
    .s-card-content{
        height: 10%;
    }
    .s-card-content-15{
        height: 15%;
    } 
    .s-card-content-20{
        height: 20%;
    }
    .s-card-content-25{
        height: 25%;
    }
    .s-card-content-30{
        height: 30%;
    }
    .s-card-content-35{
        height: 35%;
    }
    .s-card-content-40{
        height: 40%;
    }
    .s-card-content-45{
        height: 45%;
    }
    .s-card-content-50{
        height: 50%;
    }
    .s-card-content-55{
        height: 55%;
    }
    .s-card-content-60{
        height: 60%;
    }
    .s-card-content-65{
        height: 65%;
    }
    .s-card-content-70{
        height: 70%;
    }
    .s-card-content-75{
        height: 75%;
    }
    .s-card-content-80{
        height: 80%;
    }
    .s-card-content-85{
        height: 85%;
    }
    .s-card-content-90{
        height: 90%;
    }
    .s-card-content-95{
        height: 95%;
    }
    .s-card-content-100{
        height: 100%;
    }
}

.s-card {
    .s-card(5em);     
}
.s-card-100 {
    .s-card(6.25em);   
}
.s-card-150 {
    .s-card(9.375em);   
}
.s-card-200 {
    .s-card(12.5em);  
}
.s-card-300 {
    .s-card(18.75em);  
}
.s-card-400 {
    .s-card(25em);
}  
.s-card-500 {
    .s-card(31.25em);
} 
.s-card-600 {
    .s-card(37.5em);
}
.s-card-700 {
    .s-card(43.75em);
}
.s-card-800 {
    .s-card(50em);
}
.s-card-900 {
    .s-card(56.25em);
} 
.s-card-flex-100 {
    .s-card(100%/100% * 10);
}  
.s-card-flex-200 {
    .s-card(100%/80% * 10);
}  
.s-card-flex-300 {
    .s-card(100%/75% * 10);
} 
.s-card-flex-400 {
    .s-card(100%/55% * 10);
}  
.s-card-flex-500 {
    .s-card(100%/45% * 10);
}  
.s-card-flex-600 {
    .s-card(100%/35% * 10);
} 
.s-card-flex-700 {
    .s-card(100%/25% * 10);
}  
.s-card-flex-800 {
    .s-card(100%/15% * 10);
}  
.s-card-flex-900 {
    .s-card(100%/10% * 10);
}  

.s-card-relative {
    .s-card(100%);     
}

/*
####################### CARDS #######################
*/

