<div class="s-row s-center" >
    <div  class="s-card s-md-col-3 s-md-back-Green-600">
        <div  class="s-card-head s-md-back-White">
            <div class="s-md-back-Green-600 s-card-content" style="height: calc(90% - 0.9em); ">
                <div class="s-center s-uppercase s-size-18 s-md-font-White">
                    <span>                                
                        <div class="s-uppercase">
                            INVI$TA JÁ
                        </div>
                    </span>
                </div>
            </div>
            <div class="s-card-content s-md-back-Green-500">
                <div class="s-center s-size-12">
                    <img src="app/resources/images/gear.gif" height="200">
                </div>
            </div>
            <div class="s-card-content s-md-back-Green-500">
                <div class="s-center s-uppercase s-size s-md-font-White">
                    Pagina Em construção, aguarde!
                </div>
            </div>
        </div>              
    </div>
</div>