<!DOCTYPE html>
<div class="s-row s-center" >
    <div  class="s-card s-md-col-3 s-md-back-DeepPurple-500">
        <div  class="s-card-head s-md-back-White">
            <div class="s-md-back-DeepPurple-600 s-card-content" style="height: calc(90% - 0.9em); ">
                <div class="s-center s-uppercase s-size-18 s-md-font-White">
                    <span>
                        Bovespa
                    </span>
                </div>
            </div>
            <div class="s-card-content s-md-back-DeepPurple-500" id='json-FileFrame'>
                
            </div>
        </div>
        <div class="s-card-action s-md-back-DeepPurple-500">
            <a class="btn-quad btn-large ripple s-md-back-Orange-500  s-uppercase s-md-font-White" style='float:right;top:-0.5em;' mnu-name='bovespa-proceed'>
                <div>
                    Visualizar
                </div>
            </a>
        </div>
    </div>
</div>
