<!DOCTYPE html>
<div class="s-md-row shadow s-md-back-Green-400 s-card-seek" style="min-height:8.5em;">
    <div class="s-card  shadow-none s-md-back-Green-400">
        <div class="s-card-body">
            <div class="s-card-content">                        
                <div class="s-uppercase s-size-14 s-md-font-White title">    
                    <span><json bind-value='bovespa.midterm.cf.analysis'>0 dias</json></span>                           
                </div>
            </div>                           
        </div>               
    </div>    
</div>  
<div class="s-md-row margin-left-1">

</div>
<div class="s-md-row margin-left-1 s-columns-2">
    <div class="s-md-back-transparent s-columns-1">
        <div class="s-card s-md-back-White">
            <div class="s-card-action">
                <div class="btn-quad btn-large btn-card-center s-md-back-Teal-400 right s-md-font-White s-uppercase" mnu-name="bovespa-expand-co">
                    <span>Expandir</span>
                </div>
            </div>
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>ciclo operacional</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-co">                        

                </div>              
            </div>
        </div>
    </div>
    <div class="s-md-back-transparent s-columns-1">
        <div class="s-card s-md-back-White">
            <div class="s-card-action">
                <div class="btn-quad btn-large btn-card-center s-md-back-Teal-400 right s-md-font-White s-uppercase" mnu-name="bovespa-expand-cf">
                    <span>Expandir</span>
                </div>
            </div>
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>ciclo financeiro</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-cf">                        

                </div>              
            </div> 
        </div>    
    </div>    
</div>
<div class="s-md-row margin-left-1">

</div>
<div class="s-md-row margin-left-1 s-columns-3">
    <div class="s-md-back-transparent s-columns-1">
        <div class="s-card s-md-back-White">
            <div class="s-card-action">
                <div class="btn-quad btn-large btn-card-center s-md-back-Teal-400 right s-md-font-White s-uppercase" mnu-name="bovespa-expand-pme">
                    <span>Expandir</span>
                </div>
            </div>
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>prazo médio de estocagem</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-pme">                        

                </div>              
            </div>
        </div>
    </div>
    <div class="s-md-back-transparent s-columns-1">
        <div class="s-card s-md-back-White">
            <div class="s-card-action">
                <div class="btn-quad btn-large btn-card-center s-md-back-Teal-400 right s-md-font-White s-uppercase" mnu-name="bovespa-expand-pmr">
                    <span>Expandir</span>
                </div>
            </div>
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>prazo médio de recebimento</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-pmr">                        

                </div>              
            </div> 
        </div>
    </div>
    <div class="s-md-back-transparent s-columns-1">
        <div class="s-card s-md-back-White">
            <div class="s-card-action">
                <div class="btn-quad btn-large btn-card-center s-md-back-Teal-400 right s-md-font-White s-uppercase" mnu-name="bovespa-expand-pmp">
                    <span>Expandir</span>
                </div>
            </div>
            <div class="s-card-body"> 
                <div class="s-card-content" >                        
                    <div class="s-center s-uppercase s-size-12 s-md-font-GrayCyan-200 title">                           
                        <span>prazo médio de pagamento</span>
                    </div>
                </div>
                <div class="s-card-content"  id="card-graphic-pmp">                        

                </div>              
            </div> 
        </div>
    </div>
</div>
