/* 
    DEFININDO TODO CSS    
*/
.s-uppercase {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.625em;
}
.s-size {
    font-size: 1em;
}
.s-size-10 {
    font-size: 0.625em;
}
.s-size-11 {
    font-size: 0.6875em;
}
.s-size-12 {
    font-size: 0.75em;
}
.s-size-14 {
    font-size: 0.875em;
}
.s-size-15 {
    font-size: 0.9375em;
}
.s-size-17 {
    font-size: 1.0625em;
}
.s-size-18 {
    font-size: 1.25rem;
}
.shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.shadow:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.shadow-none {
    box-shadow: none !important;
}
html,
body {
    height: 99.0%;
    min-height: 99.8%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.9125em !important;
    line-height: 1.42857143;
    color: #5e5e5e;
    background-color: #fcfcfc;
    /*background-color: #f5f5f5;*/
    /*background-color: #f9f9f9;*/
    margin: 0px;
}
a {
    text-decoration: none;
}
p {
    /*    font-family: inherit;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.6;*/
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}
body * {
    display: inline-block;
    vertical-align: top;
}
body ul,
body menu,
body dir {
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
body .s-body-menu,
body .s-body-content {
    /*min-height: calc(100% - 1em);*/
    vertical-align: top;
}
body .s-body-menu {
    z-index: 1;
    position: fixed;
    min-width: 15.75em;
    max-width: 15.75em;
    box-shadow: 0 0 0.625em rgba(51, 51, 51, 0.38);
}
body .s-body-menu .s-menu-bar,
body .s-body-menu .s-menu-nav {
    width: 100%;
}
body .s-body-menu .s-menu-bar {
    min-height: 6.250em;
    color: #FFFFFF;
    font-size: 1.2em;
}
body .s-body-menu .s-menu-nav {
    min-height: 76.250em;
}
body .s-body-content {
    z-index: 0;
    position: relative;
    margin-left: 15.85em;
    min-width: calc(84.15%);
    /*  min-height: 76.250em;*/
}
body .s-body-menu-top {
    padding-top: 0.688em;
    padding-bottom: 0.688em;
    min-height: 6.250em;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
body .s-body-menu-top > table {
    height: 100%;
    width: 100%;
}
body .s-body-menu-top > table thead {
    height: 100%;
    width: 100%;
}
body .s-body-menu-top > table thead tr {
    height: 100%;
    width: 100%;
}
body .s-body-menu-top > table thead th,
body .s-body-menu-top > table thead td {
    border-right: 1px solid #ececec;
    padding: 1.438em 0;
}
body .s-body-menu-top > table thead th span,
body .s-body-menu-top > table thead td span {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hide;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.625em;
}
body .s-body-menu-top > table thead th span div,
body .s-body-menu-top > table thead td span div {
    display: block;
    font-size: 1.750em;
    font-weight: 500;
    padding-bottom: 0.125em;
}
body .s-body-menu-top > span {
    border-right: 1px solid #ececec;
    display: inline-block;
    text-align: center;
    padding: 2.438em 0;
    height: 100%;
    width: 20%;
    white-space: nowrap;
    overflow: hide;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.625em;
}
body .s-body-menu-top > span div {
    display: block;
    font-size: 1.750em;
    font-weight: 500;
    padding-bottom: 0.125em;
}
.wrapper {
    height: 100% !important;
    min-height: 100% !important;
    /* habilita o flex nos filhos diretos */
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
    /* centraliza na vertical */
    -ms-align-items: center !important;
    -webkit-align-items: center!important;
    align-items: center !important;
    /* centraliza na horizontal */
    -ms-justify-content: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}
.wrapper > div {
    padding: 2.500em;
}
.wrapper-line {
    width: 100%;
}
.wrapper-line .s-body-menu-top {
    padding-top: 0.01em;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}
.wrapper-line .s-body-menu-top span {
    border: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}
.margin-left-1 {
    margin-left: 0.90em;
    /*width: calc(98.01%) !important;*/
}
.margin-top-1 {
    margin-top: 0.90em;
}
.s-center {
    height: 100% !important;
    width: 100% !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
    -ms-align-items: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -ms-justify-content: center  !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}
.s-center span {
    text-align: center;
    white-space: nowrap;
    overflow: hide;
}
.s-center span div {
    display: block;
    font-size: 1.750em;
    font-weight: 500;
    padding-bottom: 0.125em;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
    display: block;
    width: 100%;
}
.ripple {
    overflow: hidden;
    position: relative;
}
.ripple-effect {
    position: fixed;
    border-radius: 50%;
    background: white;
    -webkit-animation: ripple-animation 3s;
    animation: ripple-animation 3s;
}
/*
@-webkit-keyframes ripple-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}


@keyframes ripple-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}*/
.tost {
    animation-name: tost;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes tost {
    0% {
        top: 0px;
    }
    50% {
        top: 200px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
        visibility: hidden;
    }
}
/* 
 ####################### CONTROLES #######################  
*/
/* 
 ####################### BTN #######################  
*/
.btn-spherical,
.btn-quad {
    /*    margin: 0;
          margin-left: 3rem;*/
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem !important;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    transition: 0.2s ease-out;
    cursor: pointer;
    letter-spacing: .5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-spherical > div,
.btn-quad > div {
    /*text-align: center;*/
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
    -ms-align-items: center !important;
    -webkit-align-items: center!important;
    align-items: center !important;
    -ms-justify-content: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    box-shadow: 0;
}
.btn-spherical {
    -webkit-border-radius: 2.8125em;
    -moz-border-radius: 2.8125em;
    border-radius: 2.8125em;
    /*text-align: center;*/
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
    -ms-align-items: center !important;
    -webkit-align-items: center!important;
    align-items: center !important;
    -ms-justify-content: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    height: 2.8125em;
    width: 2.8125em;
    padding: 0px !important;
}
.btn-large {
    width: 4.6875em;
}
.btn-card-center {
    position: relative;
    top: -42px;
    right: -18px;
    margin-right: 10px !important;
    /*padding: 9.5px;*/
}
.btn-add {
    font-family: "Wingdings 2";
    content: "Ê";
    text-align: center;
    margin-left: -5px;
}
.btn-add:after {
    content: "Ê";
}
/*{
    background-image: url('../resources/images/icons-preview.png');
    background-repeat: no-repeat;
    background-position: -218px -421px;
    background-color: white;

}*/
.btn-spherical:hover,
.btn-quad:hover,
.btn-large:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    /*padding: 0 2rem;*/
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    /*z-index: 1;*/
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #ff4081;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.right {
    float: right !important;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* 
 ####################### BTN #######################  
*/
/* 
 ####################### SELECT #######################  
*/
.select-default {
    background-color: white;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
    width: 98.9%;
}
.select-default > div {
    position: relative;
    background-color: inherit;
    border-top: red;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    cursor: pointer;
}
.select-default > div > div {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.select-default option {
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
}
.select-seek {
    background-color: white;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
    width: 98.9%;
    border: 0px;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}
.select-seek > div {
    position: relative;
    background-color: inherit;
    border-top: red;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    cursor: pointer;
}
.select-seek > div > div {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.select-seek option {
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
}
input {
    background-color: white;
    border: 1px solid rgba(160, 160, 160, 0.2);
    border-radius: 2px;
    height: 3rem;
    width: 100%;
    color: #5e5e5e;
}
/* 
 ####################### SELECT #######################  
*/
/* 
 ####################### CONTROLES #######################  
*/
/*
####################### HEAD #######################
*/
.s-md-head {
    min-height: 100px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 11px;
}
.s-md-head .s-md-row {
    padding-left: 50px;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}
.s-md-head * {
    -webkit-font-smoothing: antialiased;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    display: block;
}
/*
####################### HEAD #######################
*/
/*
####################### ROW - COL #######################
*/
.s-md-row:after,
.s-md-row:before {
    /*    display:table;
      content:""*/
}
.s-md-row {
    width: 100%;
    margin-left: 0.1em;
    margin-left: 0.0em;
}
.s-md-col-12 {
    width: 100%;
    margin-left: 0.1em;
}
.s-md-col-11 {
    width: 91.66666667%;
    margin-left: 0.1em;
}
.s-md-col-10 {
    width: 83.33333333%;
    margin-left: 0.1em;
}
.s-md-col-9 {
    width: 75%;
    margin-left: 0.1em;
}
.s-md-col-8 {
    width: 66.66666667%;
    margin-left: 0.1em;
}
.s-md-col-7 {
    width: 58.33333333%;
    margin-left: 0.1em;
}
.s-md-col-6 {
    width: 50%;
    margin-left: 0.1em;
}
.s-md-col-5 {
    width: 41.66666667%;
    margin-left: 0.1em;
}
.s-md-col-4 {
    width: 33.33333333%;
    margin-left: 0.1em;
}
.s-md-col-3 {
    width: 25%;
    margin-left: 0.1em;
}
.s-md-col-2 {
    width: 16.66666667%;
    margin-left: 0.1em;
}
.s-md-col-1 {
    width: 8.33333333%;
    margin-left: 0.1em;
}
.s-columns-1 > table td,
.s-columns-1 > table th,
.s-columns-1 > div {
    width: calc(99.6%);
}
.s-columns-2 > table td,
.s-columns-2 > table th,
.s-columns-2 > div {
    width: calc(49.8%);
}
.s-columns-3 > table td,
.s-columns-3 > table th,
.s-columns-3 > div {
    width: calc(32.93333333%);
}
.s-columns-4 > table td,
.s-columns-4 > table th,
.s-columns-4 > div {
    width: calc(24.6%);
}
.s-columns-5 > table td,
.s-columns-5 > table th,
.s-columns-5 > div {
    width: calc(19.6%);
}
.s-columns-6 > table td,
.s-columns-6 > table th,
.s-columns-6 > div {
    width: calc(16.26666667%);
}
.s-columns-12 > table td,
.s-columns-12 > table th,
.s-columns-12 > div {
    width: calc(7.93333333%);
}
.s-columns-1 > table,
.s-columns-2 > table,
.s-columns-3 > table,
.s-columns-4 > table,
.s-columns-5 > table,
.s-columns-6 > table,
.s-columns-7 > table,
.s-columns-8 > table {
    border-collapse: collapse;
}
.s-columns-1 > table thead,
.s-columns-2 > table thead,
.s-columns-3 > table thead,
.s-columns-4 > table thead,
.s-columns-5 > table thead,
.s-columns-6 > table thead,
.s-columns-7 > table thead,
.s-columns-8 > table thead {
    width: 100%;
}
/*
####################### ROW - COL #######################
*/
/*
####################### MENU-NEVEGAÇÃO #######################
*/
.s-menu-nav {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: 100%;
    min-height: 100%;
}
.s-menu-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
.s-menu-nav ul li div {
    padding: 2.100em;
}
.s-menu-nav-mnu {
    color: #adb3b8;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 600;
}
.s-menu-nav-mnu:hover {
    background-color: #3c4a57;
}
.s-menu-nav-mnu-select {
    background-color: #3c4a57;
}
.s-menu-nav-mnu:active .s-md-nav-mnu-item-wrap {
    background-color: #3c4a57;
    height: 100%;
}
.s-menu-nav-hidden {
    min-height: 0px;
    max-height: 0px;
    visibility: hidden;
    position: fixed;
}
.s-menu-nav-mnu-item {
    padding: 0 !important;
    min-height: 0px;
    max-height: 0px;
    visibility: hidden;
    position: absolute;
    top: 0;
    max-width: 15.75em;
    height: 259%;
    z-index: 0;
}
/*
####################### MENU-NEVEGAÇÃO #######################
*/
/*
####################### CARDS #######################
*/
.s-card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.s-card div {
    display: block;
}
.s-card .s-card-position-horizontal {
    display: inline-block;
}
.s-card .s-card-body .s-card-content,
.s-card .s-card-head .s-card-content {
    padding: 20px;
}
.s-card .s-card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}
.s-card-seek {
    width: 100%;
    /*    div {
          color: #878ea2;
          font-weight: 600;
      }
      span{
          font-weight: 800;
          color: #a0a7b8;
      }*/
}
.s-card-seek > div {
    border-right: 1px solid rgba(160, 160, 160, 0.2);
    height: 100%;
    padding: 0px;
    margin: 0;
}
.s-card-seek > div:last-child {
    border-right: 0px;
}
/*
####################### CARDS #######################
*/
/*
####################### TABLE #######################
*/
.s-table {
    padding: 0.3125em;
    height: 100%;
    min-width: calc(98.55%);
    max-width: calc(98.44%);
}
.s-table * {
    color: #404040;
    font: 300 13px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    vertical-align: central;
}
.s-table > table {
    width: 100%;
}
.s-table > table > tthead,
.s-table > table > tbody {
    width: 100%;
}
.s-table > table > tthead > tr,
.s-table > table > tbody > tr {
    width: 100%;
}
.s-table > table > tthead > tr > th,
.s-table > table > tbody > tr > th,
.s-table > table > tthead > tr > td,
.s-table > table > tbody > tr > td {
    width: 100%;
}
.s-table .s-table-head,
.s-table .s-table-body {
    width: 100%;
}
.s-table .s-table-head table,
.s-table .s-table-body table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.s-table .s-table-head table thead,
.s-table .s-table-body table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.s-table .s-table-head table tbody,
.s-table .s-table-body table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.s-table .s-table-head table tr,
.s-table .s-table-body table tr {
    display: table-row;
    border-color: inherit;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td,
.s-table .s-table-head table th,
.s-table .s-table-body table th {
    display: table-cell;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td,
.s-table .s-table-head table tr,
.s-table .s-table-body table tr,
.s-table .s-table-head table th,
.s-table .s-table-body table th {
    border-color: #e9e9e9;
    border-width: 1px;
    border-style: solid;
}
.s-table .s-table-head table td div,
.s-table .s-table-body table td div,
.s-table .s-table-head table tr div,
.s-table .s-table-body table tr div,
.s-table .s-table-head table th div,
.s-table .s-table-body table th div {
    padding: 0.4375em 0.625em 0.375em;
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.s-table .s-table-head table th,
.s-table .s-table-body table th {
    height: 3.125em;
    border-top-color: white;
    border-bottom-width: 0.15625em;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td {
    height: 2.5em;
    white-space: nowrap;
    vertical-align: top;
}
.s-table .s-table-head table th:first-child,
.s-table .s-table-body table th:first-child,
.s-table .s-table-head table td:first-child,
.s-table .s-table-body table td:first-child {
    border-left-color: white;
}
.s-table .s-table-head table th:last-child,
.s-table .s-table-body table th:last-child,
.s-table .s-table-head table td:last-child,
.s-table .s-table-body table td:last-child {
    border-right-color: white;
}
.s-table .s-table-head table tr:last-child td,
.s-table .s-table-body table tr:last-child td {
    border-bottom-color: white;
}
.s-table .s-table-head table tbody,
.s-table .s-table-body table tbody {
    overflow-y: scroll;
    height: calc(100%);
    width: 100%;
}
.s-table .s-table-head table tbody tr:nth-child(odd),
.s-table .s-table-body table tbody tr:nth-child(odd) {
    background-color: white;
}
.s-table .s-table-head table tbody tr:nth-child(even),
.s-table .s-table-body table tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}
.table-Sek table,
.table-Sek thead,
.table-Sek tr,
.table-Sek td,
.table-Sek th {
    width: 100%;
}
.table-Sek table,
.table-Sek thead,
.table-Sek tr {
    height: 100%;
}
.table-Sek table th,
.table-Sek thead th,
.table-Sek tr th,
.table-Sek table td,
.table-Sek thead td,
.table-Sek tr td {
    height: 8.6225em;
    border-right: 1px solid #ececec;
}
.table-Sek table th span,
.table-Sek thead th span,
.table-Sek tr th span,
.table-Sek table td span,
.table-Sek thead td span,
.table-Sek tr td span {
    padding-top: calc(10.70408163%);
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hide;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.625em;
}
.table-Sek table th div,
.table-Sek thead th div,
.table-Sek tr th div,
.table-Sek table td div,
.table-Sek thead td div,
.table-Sek tr td div {
    display: block;
    font-size: 1.750em;
    font-weight: 500;
    padding-bottom: 0.125em;
}
.title h1:before,
.title h1:after {
    content: "  ";
}
.title span:before,
.title span:after {
    content: "   ";
    display: block;
}
/*
####################### TABLE #######################
*/
/*
#######################CHARTS#######################
*/
.s-md-chart-theme-orange svg,
.s-md-chart-theme-green svg {
    background-color: transparent;
}
.s-md-chart-theme-orange .ct-grid,
.s-md-chart-theme-green .ct-grid {
    stroke: #FFFFFF;
    stroke-width: 1.5px;
    stroke-dasharray: 2px;
}
.s-md-chart-theme-orange .ct-label,
.s-md-chart-theme-green .ct-label {
    fill: #FFFFFF;
    color: #FFFFFF;
    font-size: 0.75rem;
    line-height: 1;
}
.s-md-chart-theme-orange .ct-series-a .ct-point,
.s-md-chart-theme-green .ct-series-a .ct-point,
.s-md-chart-theme-orange .ct-series-a .ct-line,
.s-md-chart-theme-green .ct-series-a .ct-line,
.s-md-chart-theme-orange .ct-series-a .ct-bar,
.s-md-chart-theme-green .ct-series-a .ct-bar,
.s-md-chart-theme-orange .ct-series-a .ct-slice-donut,
.s-md-chart-theme-green .ct-series-a .ct-slice-donut {
    stroke: #FFFFFF !important;
}
.s-md-chart-theme-orange .ct-series-b .ct-point,
.s-md-chart-theme-green .ct-series-b .ct-point,
.s-md-chart-theme-orange .ct-series-b .ct-line,
.s-md-chart-theme-green .ct-series-b .ct-line,
.s-md-chart-theme-orange .ct-series-b .ct-bar,
.s-md-chart-theme-green .ct-series-b .ct-bar,
.s-md-chart-theme-orange .ct-series-b .ct-slice-donut,
.s-md-chart-theme-green .ct-series-b .ct-slice-donut {
    stroke: #FFFFFF !important;
}
.s-md-chart-theme-orange .ct-bar,
.s-md-chart-theme-green .ct-bar {
    fill: none;
    stroke-width: 5px !important;
}
.s-md-chart-theme-orange text,
.s-md-chart-theme-green text {
    fill: #FFFFFF !important;
}
.s-md-chart-theme-orange path,
.s-md-chart-theme-green path {
    stroke: #FFFFFF !important;
}
.s-md-chart-theme-orange .morris-hover div,
.s-md-chart-theme-orange .morris-default-style div {
    color: #FFA726 !important;
}
.ct-line.ct-threshold-above,
.ct-point.ct-threshold-above,
.ct-bar.ct-threshold-above {
    stroke: #f05b4f;
}
.ct-line.ct-threshold-below,
.ct-point.ct-threshold-below,
.ct-bar.ct-threshold-below {
    stroke: #59922b;
}
.ct-area.ct-threshold-above {
    fill: #f05b4f;
}
.ct-area.ct-threshold-below {
    fill: #59922b;
}
/*
#######################CHARTS#######################
*/
/*
####################### TABELAS DE CORES #######################
*/
.s-md-back-Red-50 {
    background-color: #FFEBEE;
}
.s-md-back-Red-100 {
    background-color: #FFCDD2;
}
.s-md-back-Red-200 {
    background-color: #EF9A9A;
}
.s-md-back-Red-300 {
    background-color: #E57373;
}
.s-md-back-Red-400 {
    background-color: #EF5350;
}
.s-md-back-Red-500 {
    background-color: #F44336;
}
.s-md-back-Red-600 {
    background-color: #E53935;
}
.s-md-back-Red-700 {
    background-color: #D32F2F;
}
.s-md-back-Red-800 {
    background-color: #C62828;
}
.s-md-back-Red-900 {
    background-color: #B71C1C;
}
.s-md-back-Red-A100 {
    background-color: #FF8A80;
}
.s-md-back-Red-A200 {
    background-color: #FF5252;
}
.s-md-back-Red-A400 {
    background-color: #FF1744;
}
.s-md-back-Red-A700 {
    background-color: #D50000;
}
.s-md-back-DeepPurple-50 {
    background-color: #EDE7F6;
}
.s-md-back-DeepPurple-100 {
    background-color: #D1C4E9;
}
.s-md-back-DeepPurple-200 {
    background-color: #B39DDB;
}
.s-md-back-DeepPurple-300 {
    background-color: #9575CD;
}
.s-md-back-DeepPurple-400 {
    background-color: #7E57C2;
}
.s-md-back-DeepPurple-500 {
    background-color: #673AB7;
}
.s-md-back-DeepPurple-600 {
    background-color: #5E35B1;
}
.s-md-back-DeepPurple-700 {
    background-color: #512DA8;
}
.s-md-back-DeepPurple-800 {
    background-color: #4527A0;
}
.s-md-back-DeepPurple-900 {
    background-color: #311B92;
}
.s-md-back-DeepPurple-A100 {
    background-color: #B388FF;
}
.s-md-back-DeepPurple-A200 {
    background-color: #7C4DFF;
}
.s-md-back-DeepPurple-A400 {
    background-color: #651FFF;
}
.s-md-back-DeepPurple-A700 {
    background-color: #6200EA;
}
.s-md-back-LightBlue-50 {
    background-color: #E1F5FE;
}
.s-md-back-LightBlue-100 {
    background-color: #B3E5FC;
}
.s-md-back-LightBlue-200 {
    background-color: #81D4FA;
}
.s-md-back-LightBlue-300 {
    background-color: #4FC3F7;
}
.s-md-back-LightBlue-400 {
    background-color: #29B6F6;
}
.s-md-back-LightBlue-500 {
    background-color: #03A9F4;
}
.s-md-back-LightBlue-600 {
    background-color: #039BE5;
}
.s-md-back-LightBlue-700 {
    background-color: #0288D1;
}
.s-md-back-LightBlue-800 {
    background-color: #0277BD;
}
.s-md-back-LightBlue-900 {
    background-color: #01579B;
}
.s-md-back-LightBlue-A100 {
    background-color: #80D8FF;
}
.s-md-back-LightBlue-A200 {
    background-color: #40C4FF;
}
.s-md-back-LightBlue-A400 {
    background-color: #00B0FF;
}
.s-md-back-LightBlue-A700 {
    background-color: #0091EA;
}
.s-md-back-Green-50 {
    background-color: #E8F5E9;
}
.s-md-back-Green-100 {
    background-color: #C8E6C9;
}
.s-md-back-Green-200 {
    background-color: #A5D6A7;
}
.s-md-back-Green-300 {
    background-color: #81C784;
}
.s-md-back-Green-400 {
    background-color: #66BB6A;
}
.s-md-back-Green-500 {
    background-color: #4CAF50;
}
.s-md-back-Green-600 {
    background-color: #43A047;
}
.s-md-back-Green-700 {
    background-color: #388E3C;
}
.s-md-back-Green-800 {
    background-color: #2E7D32;
}
.s-md-back-Green-900 {
    background-color: #1B5E20;
}
.s-md-back-Green-A100 {
    background-color: #B9F6CA;
}
.s-md-back-Green-A200 {
    background-color: #69F0AE;
}
.s-md-back-Green-A400 {
    background-color: #00E676;
}
.s-md-back-Green-A700 {
    background-color: #00C853;
}
.s-md-back-Yellow-50 {
    background-color: #FFFDE7;
}
.s-md-back-Yellow-100 {
    background-color: #FFF9C4;
}
.s-md-back-Yellow-200 {
    background-color: #FFF59D;
}
.s-md-back-Yellow-300 {
    background-color: #FFF176;
}
.s-md-back-Yellow-400 {
    background-color: #FFEE58;
}
.s-md-back-Yellow-500 {
    background-color: #FFEB3B;
}
.s-md-back-Yellow-600 {
    background-color: #FDD835;
}
.s-md-back-Yellow-700 {
    background-color: #FBC02D;
}
.s-md-back-Yellow-800 {
    background-color: #F9A825;
}
.s-md-back-Yellow-900 {
    background-color: #F57F17;
}
.s-md-back-Yellow-A100 {
    background-color: #FFFF8D;
}
.s-md-back-Yellow-A200 {
    background-color: #FFFF00;
}
.s-md-back-Yellow-A400 {
    background-color: #FFEA00;
}
.s-md-back-Yellow-A700 {
    background-color: #FFD600;
}
.s-md-back-DeepOrange-50 {
    background-color: #FBE9E7;
}
.s-md-back-DeepOrange-100 {
    background-color: #FFCCBC;
}
.s-md-back-DeepOrange-200 {
    background-color: #FFAB91;
}
.s-md-back-DeepOrange-300 {
    background-color: #FF8A65;
}
.s-md-back-DeepOrange-400 {
    background-color: #FF7043;
}
.s-md-back-DeepOrange-500 {
    background-color: #FF5722;
}
.s-md-back-DeepOrange-600 {
    background-color: #F4511E;
}
.s-md-back-DeepOrange-700 {
    background-color: #E64A19;
}
.s-md-back-DeepOrange-800 {
    background-color: #D84315;
}
.s-md-back-DeepOrange-900 {
    background-color: #BF360C;
}
.s-md-back-DeepOrange-A100 {
    background-color: #FF9E80;
}
.s-md-back-DeepOrange-A200 {
    background-color: #FF6E40;
}
.s-md-back-DeepOrange-A400 {
    background-color: #FF3D00;
}
.s-md-back-DeepOrange-A700 {
    background-color: #DD2C00;
}
.s-md-back-Purple-50 {
    background-color: #F3E5F5;
}
.s-md-back-Purple-100 {
    background-color: #E1BEE7;
}
.s-md-back-Purple-200 {
    background-color: #CE93D8;
}
.s-md-back-Purple-300 {
    background-color: #BA68C8;
}
.s-md-back-Purple-400 {
    background-color: #AB47BC;
}
.s-md-back-Purple-500 {
    background-color: #9C27B0;
}
.s-md-back-Purple-600 {
    background-color: #8E24AA;
}
.s-md-back-Purple-700 {
    background-color: #7B1FA2;
}
.s-md-back-Purple-800 {
    background-color: #6A1B9A;
}
.s-md-back-Purple-900 {
    background-color: #4A148C;
}
.s-md-back-Purple-A100 {
    background-color: #EA80FC;
}
.s-md-back-Purple-A200 {
    background-color: #E040FB;
}
.s-md-back-Purple-A400 {
    background-color: #D500F9;
}
.s-md-back-Purple-A700 {
    background-color: #AA00FF;
}
.s-md-back-Teal-50 {
    background-color: #E0F2F1;
}
.s-md-back-Teal-100 {
    background-color: #B2DFDB;
}
.s-md-back-Teal-200 {
    background-color: #80CBC4;
}
.s-md-back-Teal-300 {
    background-color: #4DB6AC;
}
.s-md-back-Teal-400 {
    background-color: #26A69A;
}
.s-md-back-Teal-500 {
    background-color: #009688;
}
.s-md-back-Teal-600 {
    background-color: #00897B;
}
.s-md-back-Teal-700 {
    background-color: #00796B;
}
.s-md-back-Teal-800 {
    background-color: #00695C;
}
.s-md-back-Teal-900 {
    background-color: #004D40;
}
.s-md-back-Teal-A100 {
    background-color: #A7FFEB;
}
.s-md-back-Teal-A200 {
    background-color: #64FFDA;
}
.s-md-back-Teal-A400 {
    background-color: #1DE9B6;
}
.s-md-back-Teal-A700 {
    background-color: #00BFA5;
}
.s-md-back-Indigo-50 {
    background-color: #E8EAF6;
}
.s-md-back-Indigo-100 {
    background-color: #C5CAE9;
}
.s-md-back-Indigo-200 {
    background-color: #9FA8DA;
}
.s-md-back-Indigo-300 {
    background-color: #7986CB;
}
.s-md-back-Indigo-400 {
    background-color: #5C6BC0;
}
.s-md-back-Indigo-500 {
    background-color: #3F51B5;
}
.s-md-back-Indigo-600 {
    background-color: #3949AB;
}
.s-md-back-Indigo-700 {
    background-color: #303F9F;
}
.s-md-back-Indigo-800 {
    background-color: #283593;
}
.s-md-back-Indigo-900 {
    background-color: #1A237E;
}
.s-md-back-Indigo-A100 {
    background-color: #8C9EFF;
}
.s-md-back-Indigo-A200 {
    background-color: #536DFE;
}
.s-md-back-Indigo-A400 {
    background-color: #3D5AFE;
}
.s-md-back-Indigo-A700 {
    background-color: #304FFE;
}
.s-md-back-Cyan-50 {
    background-color: #E0F7FA;
}
.s-md-back-Cyan-100 {
    background-color: #B2EBF2;
}
.s-md-back-Cyan-200 {
    background-color: #80DEEA;
}
.s-md-back-Cyan-300 {
    background-color: #4DD0E1;
}
.s-md-back-Cyan-400 {
    background-color: #26C6DA;
}
.s-md-back-Cyan-500 {
    background-color: #00BCD4;
}
.s-md-back-Cyan-600 {
    background-color: #00ACC1;
}
.s-md-back-Cyan-700 {
    background-color: #0097A7;
}
.s-md-back-Cyan-800 {
    background-color: #00838F;
}
.s-md-back-Cyan-900 {
    background-color: #006064;
}
.s-md-back-Cyan-A100 {
    background-color: #84FFFF;
}
.s-md-back-Cyan-A200 {
    background-color: #18FFFF;
}
.s-md-back-Cyan-A400 {
    background-color: #00E5FF;
}
.s-md-back-Cyan-A700 {
    background-color: #00B8D4;
}
.s-md-back-Blue-50 {
    background-color: #E3F2FD;
}
.s-md-back-Blue-100 {
    background-color: #BBDEFB;
}
.s-md-back-Blue-200 {
    background-color: #90CAF9;
}
.s-md-back-Blue-300 {
    background-color: #64B5F6;
}
.s-md-back-Blue-400 {
    background-color: #42A5F5;
}
.s-md-back-Blue-500 {
    background-color: #2196F3;
}
.s-md-back-Blue-600 {
    background-color: #1E88E5;
}
.s-md-back-Blue-700 {
    background-color: #1976D2;
}
.s-md-back-Blue-800 {
    background-color: #1565C0;
}
.s-md-back-Blue-900 {
    background-color: #0D47A1;
}
.s-md-back-Blue-A100 {
    background-color: #82B1FF;
}
.s-md-back-Blue-A200 {
    background-color: #448AFF;
}
.s-md-back-Blue-A400 {
    background-color: #2979FF;
}
.s-md-back-Blue-A700 {
    background-color: #2962FF;
}
.s-md-back-Orange-50 {
    background-color: #FFF3E0;
}
.s-md-back-Orange-100 {
    background-color: #FFE0B2;
}
.s-md-back-Orange-200 {
    background-color: #FFCC80;
}
.s-md-back-Orange-300 {
    background-color: #FFB74D;
}
.s-md-back-Orange-400 {
    background-color: #FFA726;
}
.s-md-back-Orange-500 {
    background-color: #FF9800;
}
.s-md-back-Orange-600 {
    background-color: #FB8C00;
}
.s-md-back-Orange-700 {
    background-color: #F57C00;
}
.s-md-back-Orange-800 {
    background-color: #EF6C00;
}
.s-md-back-Orange-900 {
    background-color: #E65100;
}
.s-md-back-Orange-A100 {
    background-color: #FFD180;
}
.s-md-back-Orange-A200 {
    background-color: #FFAB40;
}
.s-md-back-Orange-A400 {
    background-color: #FF9100;
}
.s-md-back-Orange-A700 {
    background-color: #FF6D00;
}
.s-md-back-Black {
    background-color: #000000;
}
.s-md-back-White {
    background-color: #FFFFFF;
}
.s-md-back-GrayCyan {
    background-color: #32404e;
}
.s-md-back-GrayCyan-50 {
    background-color: #a0a7b8;
}
.s-md-back-GrayCyan-100 {
    background-color: #878ea2;
}
.s-md-back-GrayCyan-200 {
    background-color: #3c4a57;
}
.s-md-back-transparent {
    background-color: transparent ;
}
.s-md-font-Black {
    color: #000000;
}
.s-md-font-White {
    color: #FFFFFF;
}
.s-md-font-GrayCyan {
    color: #32404e;
}
.s-md-font-GrayCyan-50 {
    color: #a0a7b8;
}
.s-md-font-GrayCyan-100 {
    color: #878ea2;
}
.s-md-font-GrayCyan-200 {
    color: #3c4a57;
}
.s-md-font-DeepPurple-600 {
    color: #5E35B1;
}
.s-md-fill-White {
    fill: #FFFFFF;
}
/*
####################### TABELAS DE CORES #######################
*/
/*
#######################RESPONSIVIDADE#######################
*/
@media screen and (max-width: 22.9375em) {
    .s-menu-nav {
        vertical-align: top;
        max-width: 0%;
        min-width: 0%;
        font-size: 1.2em;
        box-shadow: none;
    }
    .s-menu-nav > .s-menu-nav {
        min-width: 100%;
    }
    .s-menu-nav > .s-menu-nav-hidden {
        visibility: visible;
        position: fixed;
        right: 0.1em;
        min-height: 5.250em;
        width: 46px  !important;
        height: 46px  !important;
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden li,
    .s-menu-nav > .s-menu-nav-hidden menu {
        width: 46px  !important;
        height: 46px  !important;
        position: fixed;
        top: 5.150em;
        right: 0.1em;
    }
    .s-menu-nav > .s-menu-nav-hidden-option {
        z-index: 2;
        position: fixed;
        right: -0.1em;
        max-width: calc(100%);
        top: 6.820em;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden-option div {
        font-size: 0.8em;
    }
    .s-menu-nav > .s-menu-nav-hidden-none {
        min-height: 0px;
        max-height: 0px;
        visibility: hidden;
        top: -2%;
    }
    .s-menu-nav > .s-menu-nav-mnu {
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden {
        z-index: 3;
    }
    .s-menu-nav > .s-menu-nav-hidden menu {
        background-color: #3c4a57;
    }
    .s-menu-nav > .s-menu-nav-hidden .s-menu-nav-mnu:hover {
        background: transparent;
    }
    .s-menu-nav > .s-menu-nav-hidden .s-menu-nav-mnu:active .s-md-nav-mnu-item-wrap {
        background: transparent;
    }
    .s-menu-nav ul li div div {
        padding: 1.500em;
    }
    .s-menu-nav ul li div div menu {
        background-color: #3c4a57;
    }
    .s-menu-nav .s-menu-nav-hidden {
        width: 100%;
        /*            max-width: 3.00875em;*/
    }
    .s-menu-nav .s-menu-nav-hidden ul li {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-hidden ul li div {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-hidden-option {
        right: 0em;
        max-width: calc(100%);
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden-option div {
        font-size: 0.9em !important;
    }
    body .s-body-menu .s-menu-bar {
        vertical-align: top;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    .s-columns-2 > table td,
    .s-columns-3 > table td,
    .s-columns-4 > table td,
    .s-columns-5 > table td,
    .s-columns-6 > table td,
    .s-columns-7 > table td,
    .s-columns-8 > table td,
    .s-columns-9 > table td,
    .s-columns-10 > table td,
    .s-columns-11 > table td,
    .s-columns-12 > table td,
    .s-columns-2 > table th,
    .s-columns-3 > table th,
    .s-columns-4 > table th,
    .s-columns-5 > table th,
    .s-columns-6 > table th,
    .s-columns-7 > table th,
    .s-columns-8 > table th,
    .s-columns-9 > table th,
    .s-columns-10 > table th,
    .s-columns-11 > table th,
    .s-columns-12 > table th {
        width: calc(99.6%);
    }
    .s-columns-2 > div,
    .s-columns-3 > div,
    .s-columns-4 > div,
    .s-columns-5 > div,
    .s-columns-6 > div,
    .s-columns-7 > div,
    .s-columns-8 > div,
    .s-columns-9 > div,
    .s-columns-10 > div,
    .s-columns-11 > div,
    .s-columns-12 > div {
        width: calc(99.6%);
    }
    .s-body-menu-top th,
    .s-body-menu-top td {
        border-right: none !important;
        border-bottom: 1px solid #ececec;
    }
    .s-menu-nav-mnu * {
        display: block;
        position: static;
        font-size: 1em;
    }
}
@media screen and (min-width: 23em) and (max-width: 47.9375em) {
    .s-menu-nav {
        vertical-align: top;
        max-width: 0%;
        min-width: 0%;
        font-size: 1.2em;
        box-shadow: none;
    }
    .s-menu-nav > .s-menu-nav {
        min-width: 100%;
    }
    .s-menu-nav > .s-menu-nav-hidden {
        visibility: visible;
        position: fixed;
        right: 0.1em;
        min-height: 5.250em;
        width: 46px  !important;
        height: 46px  !important;
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden li,
    .s-menu-nav > .s-menu-nav-hidden menu {
        width: 46px  !important;
        height: 46px  !important;
        position: fixed;
        top: 5.150em;
        right: 0.1em;
    }
    .s-menu-nav > .s-menu-nav-hidden-option {
        z-index: 2;
        position: fixed;
        right: -0.1em;
        max-width: calc(100%);
        top: 6.820em;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden-option div {
        font-size: 0.8em;
    }
    .s-menu-nav > .s-menu-nav-hidden-none {
        min-height: 0px;
        max-height: 0px;
        visibility: hidden;
        top: -2%;
    }
    .s-menu-nav > .s-menu-nav-mnu {
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav > .s-menu-nav-hidden {
        z-index: 3;
    }
    .s-menu-nav > .s-menu-nav-hidden menu {
        background-color: #3c4a57;
    }
    .s-menu-nav > .s-menu-nav-hidden .s-menu-nav-mnu:hover {
        background: transparent;
    }
    .s-menu-nav > .s-menu-nav-hidden .s-menu-nav-mnu:active .s-md-nav-mnu-item-wrap {
        background: transparent;
    }
    .s-menu-nav ul li div div {
        padding: 1.500em;
    }
    .s-menu-nav ul li div div menu {
        background-color: #3c4a57;
    }
    .s-menu-nav .s-menu-nav-hidden {
        width: 100%;
        /*            max-width: 3.00875em;*/
    }
    .s-menu-nav .s-menu-nav-hidden ul li {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-hidden ul li div {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-hidden-option {
        right: 0em;
        max-width: calc(100%);
    }
    .s-menu-nav > .s-menu-nav-hidden-option {
        max-width: 11.875em;
    }
    .s-menu-nav .s-menu-nav-mnu-item {
        vertical-align: top;
        max-width: 0%;
        min-width: 0%;
        font-size: 1.2em;
        box-shadow: none;
        max-width: 11.875em !important;
        padding: 2.100em !important;
        min-height: 10.250em !important;
        max-height: 10000em !important;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav {
        min-width: 100%;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden {
        visibility: visible;
        position: fixed;
        right: 0.1em;
        min-height: 5.250em;
        width: 46px  !important;
        height: 46px  !important;
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden li,
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden menu {
        width: 46px  !important;
        height: 46px  !important;
        position: fixed;
        top: 5.150em;
        right: 0.1em;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden-option {
        z-index: 2;
        position: fixed;
        right: -0.1em;
        max-width: calc(100%);
        top: 6.820em;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden-option div {
        font-size: 0.8em;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden-none {
        min-height: 0px;
        max-height: 0px;
        visibility: hidden;
        top: -2%;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-mnu {
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        border-radius: 2.5px;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden {
        z-index: 3;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden menu {
        background-color: #3c4a57;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden .s-menu-nav-mnu:hover {
        background: transparent;
    }
    .s-menu-nav .s-menu-nav-mnu-item > .s-menu-nav-hidden .s-menu-nav-mnu:active .s-md-nav-mnu-item-wrap {
        background: transparent;
    }
    .s-menu-nav .s-menu-nav-mnu-item ul li div div {
        padding: 1.500em;
    }
    .s-menu-nav .s-menu-nav-mnu-item ul li div div menu {
        background-color: #3c4a57;
    }
    .s-menu-nav .s-menu-nav-mnu-item .s-menu-nav-hidden {
        width: 100%;
        /*            max-width: 3.00875em;*/
    }
    .s-menu-nav .s-menu-nav-mnu-item .s-menu-nav-hidden ul li {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-mnu-item .s-menu-nav-hidden ul li div {
        padding: 0em;
    }
    .s-menu-nav .s-menu-nav-mnu-item .s-menu-nav-hidden-option {
        right: 0em;
        max-width: calc(100%);
    }
    .s-menu-nav .s-menu-nav-mnu-item * {
        font-size: 0.9em !important;
    }
    .s-columns-2 > table td,
    .s-columns-3 > table td,
    .s-columns-4 > table td,
    .s-columns-5 > table td,
    .s-columns-6 > table td,
    .s-columns-7 > table td,
    .s-columns-8 > table td,
    .s-columns-9 > table td,
    .s-columns-10 > table td,
    .s-columns-11 > table td,
    .s-columns-12 > table td,
    .s-columns-2 > table th,
    .s-columns-3 > table th,
    .s-columns-4 > table th,
    .s-columns-5 > table th,
    .s-columns-6 > table th,
    .s-columns-7 > table th,
    .s-columns-8 > table th,
    .s-columns-9 > table th,
    .s-columns-10 > table th,
    .s-columns-11 > table th,
    .s-columns-12 > table th {
        width: calc(49.6%);
    }
    .s-columns-2 > div,
    .s-columns-3 > div,
    .s-columns-4 > div,
    .s-columns-5 > div,
    .s-columns-6 > div,
    .s-columns-7 > div,
    .s-columns-8 > div,
    .s-columns-9 > div,
    .s-columns-10 > div,
    .s-columns-11 > div,
    .s-columns-12 > div {
        width: calc(99.6%);
    }
}
@media screen and (max-width: 47.9375em) {
    body .s-body-menu,
    body .s-body-content {
        min-height: 0px;
        vertical-align: top;
    }
    body .s-body-menu {
        position: fixed;
        min-width: 100%;
        max-width: 100%;
        vertical-align: top;
        max-height: 7.588em;
    }
    body .s-body-menu .s-menu-bar {
        vertical-align: top;
        /*max-width: 74.87%;*/
        min-width: 45%;
        min-height: 100%;
        max-height: 100%;
    }
    body .s-body-menu .s-menu-nav {
        min-height: 6.250em;
        max-height: 6.250em;
    }
    body .s-body-menu .s-menu-bar {
        color: #FFFFFF;
        font-size: 1.2em;
    }
    body .s-body-content {
        margin-top: calc(11.988em);
        position: static;
        margin-left: 0;
        min-width: 100%;
    }

    .s-card {
        margin-left: 0.19em !important;
    }

    .s-md-row,
    .s-md-col-12,
    .s-md-col-11,
    .s-md-col-10,
    .s-md-col-9,
    .s-md-col-8,
    .s-md-col-7,
    .s-md-col-6,
    .s-md-col-5,
    .s-md-col-4,
    .s-md-col-3,
    .s-md-col-2,
    .s-md-col-1 {
        width: 99%;
        margin: 0 auto;
    }
    .s-md-row .s-body-menu-top,
    .s-md-col-12 .s-body-menu-top {
        width: 100%;
    }
    .s-md-col-11 .s-body-menu-top {
        width: 91.66666667%;
    }
    .s-md-col-10 .s-body-menu-top {
        width: 83.33333333%;
    }
    .s-md-col-9 .s-body-menu-top {
        width: 75%;
    }
    .s-md-col-8 .s-body-menu-top {
        width: 66.66666667%;
    }
    .s-md-col-7 .s-body-menu-top {
        width: 58.33333333%;
    }
    .s-md-col-6 .s-body-menu-top {
        width: 50%;
    }
    .s-md-col-5 .s-body-menu-top {
        width: 41.66666667%;
    }
    .s-md-col-4 .s-body-menu-top {
        width: 33.33333333%;
    }
    .s-md-col-3 .s-body-menu-top {
        width: 25%;
    }
    .s-md-col-2 .s-body-menu-top {
        width: 16.66666667%;
    }
    .s-md-col-1 .s-body-menu-top {
        width: 8.33333333%;
    }
    .table-Sek table,
    thead,
    tr {
        height: 100%;
    }
    .table-Sek table th,
    thead th,
    tr th,
    .table-Sek table td,
    thead td,
    tr td {
        height: 7.8125em;
        border-right: 1px solid #ececec;
    }
    .table-Sek table th span,
    thead th span,
    tr th span,
    .table-Sek table td span,
    thead td span,
    tr td span {
        padding-top: calc(10%);
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow: hide;
        width: 100%;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.625em;
    }
    .s-card-seek {
        width: 100%;
        /*    div {
                    color: #878ea2;
                    font-weight: 600;
                }
                span{
                    font-weight: 800;
                    color: #a0a7b8;
                }*/
    }
    .s-card-seek > div {
        border-right: 0;
        border-bottom: 1px solid rgba(160, 160, 160, 0.2);
        height: 100%;
        padding: 0px;
        margin: 0;
    }
    .s-card-seek > div:last-child {
        border-bottom: 0px;
    }
}
/*
#######################RESPONSIVIDADE#######################
*/
