/*
####################### CARDS #######################
*/
.s-card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 5em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card .s-card-head,
.s-card .s-card-body {
  width: 100%;
}
.s-card .s-card-content {
  height: 10%;
}
.s-card .s-card-content-15 {
  height: 15%;
}
.s-card .s-card-content-20 {
  height: 20%;
}
.s-card .s-card-content-25 {
  height: 25%;
}
.s-card .s-card-content-30 {
  height: 30%;
}
.s-card .s-card-content-35 {
  height: 35%;
}
.s-card .s-card-content-40 {
  height: 40%;
}
.s-card .s-card-content-45 {
  height: 45%;
}
.s-card .s-card-content-50 {
  height: 50%;
}
.s-card .s-card-content-55 {
  height: 55%;
}
.s-card .s-card-content-60 {
  height: 60%;
}
.s-card .s-card-content-65 {
  height: 65%;
}
.s-card .s-card-content-70 {
  height: 70%;
}
.s-card .s-card-content-75 {
  height: 75%;
}
.s-card .s-card-content-80 {
  height: 80%;
}
.s-card .s-card-content-85 {
  height: 85%;
}
.s-card .s-card-content-90 {
  height: 90%;
}
.s-card .s-card-content-95 {
  height: 95%;
}
.s-card .s-card-content-100 {
  height: 100%;
}
.s-card-100 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 6.25em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-100 .s-card-head,
.s-card-100 .s-card-body {
  width: 100%;
}
.s-card-100 .s-card-content {
  height: 10%;
}
.s-card-100 .s-card-content-15 {
  height: 15%;
}
.s-card-100 .s-card-content-20 {
  height: 20%;
}
.s-card-100 .s-card-content-25 {
  height: 25%;
}
.s-card-100 .s-card-content-30 {
  height: 30%;
}
.s-card-100 .s-card-content-35 {
  height: 35%;
}
.s-card-100 .s-card-content-40 {
  height: 40%;
}
.s-card-100 .s-card-content-45 {
  height: 45%;
}
.s-card-100 .s-card-content-50 {
  height: 50%;
}
.s-card-100 .s-card-content-55 {
  height: 55%;
}
.s-card-100 .s-card-content-60 {
  height: 60%;
}
.s-card-100 .s-card-content-65 {
  height: 65%;
}
.s-card-100 .s-card-content-70 {
  height: 70%;
}
.s-card-100 .s-card-content-75 {
  height: 75%;
}
.s-card-100 .s-card-content-80 {
  height: 80%;
}
.s-card-100 .s-card-content-85 {
  height: 85%;
}
.s-card-100 .s-card-content-90 {
  height: 90%;
}
.s-card-100 .s-card-content-95 {
  height: 95%;
}
.s-card-100 .s-card-content-100 {
  height: 100%;
}
.s-card-150 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 9.375em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-150 .s-card-head,
.s-card-150 .s-card-body {
  width: 100%;
}
.s-card-150 .s-card-content {
  height: 10%;
}
.s-card-150 .s-card-content-15 {
  height: 15%;
}
.s-card-150 .s-card-content-20 {
  height: 20%;
}
.s-card-150 .s-card-content-25 {
  height: 25%;
}
.s-card-150 .s-card-content-30 {
  height: 30%;
}
.s-card-150 .s-card-content-35 {
  height: 35%;
}
.s-card-150 .s-card-content-40 {
  height: 40%;
}
.s-card-150 .s-card-content-45 {
  height: 45%;
}
.s-card-150 .s-card-content-50 {
  height: 50%;
}
.s-card-150 .s-card-content-55 {
  height: 55%;
}
.s-card-150 .s-card-content-60 {
  height: 60%;
}
.s-card-150 .s-card-content-65 {
  height: 65%;
}
.s-card-150 .s-card-content-70 {
  height: 70%;
}
.s-card-150 .s-card-content-75 {
  height: 75%;
}
.s-card-150 .s-card-content-80 {
  height: 80%;
}
.s-card-150 .s-card-content-85 {
  height: 85%;
}
.s-card-150 .s-card-content-90 {
  height: 90%;
}
.s-card-150 .s-card-content-95 {
  height: 95%;
}
.s-card-150 .s-card-content-100 {
  height: 100%;
}
.s-card-200 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 12.5em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-200 .s-card-head,
.s-card-200 .s-card-body {
  width: 100%;
}
.s-card-200 .s-card-content {
  height: 10%;
}
.s-card-200 .s-card-content-15 {
  height: 15%;
}
.s-card-200 .s-card-content-20 {
  height: 20%;
}
.s-card-200 .s-card-content-25 {
  height: 25%;
}
.s-card-200 .s-card-content-30 {
  height: 30%;
}
.s-card-200 .s-card-content-35 {
  height: 35%;
}
.s-card-200 .s-card-content-40 {
  height: 40%;
}
.s-card-200 .s-card-content-45 {
  height: 45%;
}
.s-card-200 .s-card-content-50 {
  height: 50%;
}
.s-card-200 .s-card-content-55 {
  height: 55%;
}
.s-card-200 .s-card-content-60 {
  height: 60%;
}
.s-card-200 .s-card-content-65 {
  height: 65%;
}
.s-card-200 .s-card-content-70 {
  height: 70%;
}
.s-card-200 .s-card-content-75 {
  height: 75%;
}
.s-card-200 .s-card-content-80 {
  height: 80%;
}
.s-card-200 .s-card-content-85 {
  height: 85%;
}
.s-card-200 .s-card-content-90 {
  height: 90%;
}
.s-card-200 .s-card-content-95 {
  height: 95%;
}
.s-card-200 .s-card-content-100 {
  height: 100%;
}
.s-card-300 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 18.75em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-300 .s-card-head,
.s-card-300 .s-card-body {
  width: 100%;
}
.s-card-300 .s-card-content {
  height: 10%;
}
.s-card-300 .s-card-content-15 {
  height: 15%;
}
.s-card-300 .s-card-content-20 {
  height: 20%;
}
.s-card-300 .s-card-content-25 {
  height: 25%;
}
.s-card-300 .s-card-content-30 {
  height: 30%;
}
.s-card-300 .s-card-content-35 {
  height: 35%;
}
.s-card-300 .s-card-content-40 {
  height: 40%;
}
.s-card-300 .s-card-content-45 {
  height: 45%;
}
.s-card-300 .s-card-content-50 {
  height: 50%;
}
.s-card-300 .s-card-content-55 {
  height: 55%;
}
.s-card-300 .s-card-content-60 {
  height: 60%;
}
.s-card-300 .s-card-content-65 {
  height: 65%;
}
.s-card-300 .s-card-content-70 {
  height: 70%;
}
.s-card-300 .s-card-content-75 {
  height: 75%;
}
.s-card-300 .s-card-content-80 {
  height: 80%;
}
.s-card-300 .s-card-content-85 {
  height: 85%;
}
.s-card-300 .s-card-content-90 {
  height: 90%;
}
.s-card-300 .s-card-content-95 {
  height: 95%;
}
.s-card-300 .s-card-content-100 {
  height: 100%;
}
.s-card-400 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 25em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-400 .s-card-head,
.s-card-400 .s-card-body {
  width: 100%;
}
.s-card-400 .s-card-content {
  height: 10%;
}
.s-card-400 .s-card-content-15 {
  height: 15%;
}
.s-card-400 .s-card-content-20 {
  height: 20%;
}
.s-card-400 .s-card-content-25 {
  height: 25%;
}
.s-card-400 .s-card-content-30 {
  height: 30%;
}
.s-card-400 .s-card-content-35 {
  height: 35%;
}
.s-card-400 .s-card-content-40 {
  height: 40%;
}
.s-card-400 .s-card-content-45 {
  height: 45%;
}
.s-card-400 .s-card-content-50 {
  height: 50%;
}
.s-card-400 .s-card-content-55 {
  height: 55%;
}
.s-card-400 .s-card-content-60 {
  height: 60%;
}
.s-card-400 .s-card-content-65 {
  height: 65%;
}
.s-card-400 .s-card-content-70 {
  height: 70%;
}
.s-card-400 .s-card-content-75 {
  height: 75%;
}
.s-card-400 .s-card-content-80 {
  height: 80%;
}
.s-card-400 .s-card-content-85 {
  height: 85%;
}
.s-card-400 .s-card-content-90 {
  height: 90%;
}
.s-card-400 .s-card-content-95 {
  height: 95%;
}
.s-card-400 .s-card-content-100 {
  height: 100%;
}
.s-card-500 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 31.25em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-500 .s-card-head,
.s-card-500 .s-card-body {
  width: 100%;
}
.s-card-500 .s-card-content {
  height: 10%;
}
.s-card-500 .s-card-content-15 {
  height: 15%;
}
.s-card-500 .s-card-content-20 {
  height: 20%;
}
.s-card-500 .s-card-content-25 {
  height: 25%;
}
.s-card-500 .s-card-content-30 {
  height: 30%;
}
.s-card-500 .s-card-content-35 {
  height: 35%;
}
.s-card-500 .s-card-content-40 {
  height: 40%;
}
.s-card-500 .s-card-content-45 {
  height: 45%;
}
.s-card-500 .s-card-content-50 {
  height: 50%;
}
.s-card-500 .s-card-content-55 {
  height: 55%;
}
.s-card-500 .s-card-content-60 {
  height: 60%;
}
.s-card-500 .s-card-content-65 {
  height: 65%;
}
.s-card-500 .s-card-content-70 {
  height: 70%;
}
.s-card-500 .s-card-content-75 {
  height: 75%;
}
.s-card-500 .s-card-content-80 {
  height: 80%;
}
.s-card-500 .s-card-content-85 {
  height: 85%;
}
.s-card-500 .s-card-content-90 {
  height: 90%;
}
.s-card-500 .s-card-content-95 {
  height: 95%;
}
.s-card-500 .s-card-content-100 {
  height: 100%;
}
.s-card-600 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 37.5em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-600 .s-card-head,
.s-card-600 .s-card-body {
  width: 100%;
}
.s-card-600 .s-card-content {
  height: 10%;
}
.s-card-600 .s-card-content-15 {
  height: 15%;
}
.s-card-600 .s-card-content-20 {
  height: 20%;
}
.s-card-600 .s-card-content-25 {
  height: 25%;
}
.s-card-600 .s-card-content-30 {
  height: 30%;
}
.s-card-600 .s-card-content-35 {
  height: 35%;
}
.s-card-600 .s-card-content-40 {
  height: 40%;
}
.s-card-600 .s-card-content-45 {
  height: 45%;
}
.s-card-600 .s-card-content-50 {
  height: 50%;
}
.s-card-600 .s-card-content-55 {
  height: 55%;
}
.s-card-600 .s-card-content-60 {
  height: 60%;
}
.s-card-600 .s-card-content-65 {
  height: 65%;
}
.s-card-600 .s-card-content-70 {
  height: 70%;
}
.s-card-600 .s-card-content-75 {
  height: 75%;
}
.s-card-600 .s-card-content-80 {
  height: 80%;
}
.s-card-600 .s-card-content-85 {
  height: 85%;
}
.s-card-600 .s-card-content-90 {
  height: 90%;
}
.s-card-600 .s-card-content-95 {
  height: 95%;
}
.s-card-600 .s-card-content-100 {
  height: 100%;
}
.s-card-700 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 43.75em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-700 .s-card-head,
.s-card-700 .s-card-body {
  width: 100%;
}
.s-card-700 .s-card-content {
  height: 10%;
}
.s-card-700 .s-card-content-15 {
  height: 15%;
}
.s-card-700 .s-card-content-20 {
  height: 20%;
}
.s-card-700 .s-card-content-25 {
  height: 25%;
}
.s-card-700 .s-card-content-30 {
  height: 30%;
}
.s-card-700 .s-card-content-35 {
  height: 35%;
}
.s-card-700 .s-card-content-40 {
  height: 40%;
}
.s-card-700 .s-card-content-45 {
  height: 45%;
}
.s-card-700 .s-card-content-50 {
  height: 50%;
}
.s-card-700 .s-card-content-55 {
  height: 55%;
}
.s-card-700 .s-card-content-60 {
  height: 60%;
}
.s-card-700 .s-card-content-65 {
  height: 65%;
}
.s-card-700 .s-card-content-70 {
  height: 70%;
}
.s-card-700 .s-card-content-75 {
  height: 75%;
}
.s-card-700 .s-card-content-80 {
  height: 80%;
}
.s-card-700 .s-card-content-85 {
  height: 85%;
}
.s-card-700 .s-card-content-90 {
  height: 90%;
}
.s-card-700 .s-card-content-95 {
  height: 95%;
}
.s-card-700 .s-card-content-100 {
  height: 100%;
}
.s-card-800 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 50em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-800 .s-card-head,
.s-card-800 .s-card-body {
  width: 100%;
}
.s-card-800 .s-card-content {
  height: 10%;
}
.s-card-800 .s-card-content-15 {
  height: 15%;
}
.s-card-800 .s-card-content-20 {
  height: 20%;
}
.s-card-800 .s-card-content-25 {
  height: 25%;
}
.s-card-800 .s-card-content-30 {
  height: 30%;
}
.s-card-800 .s-card-content-35 {
  height: 35%;
}
.s-card-800 .s-card-content-40 {
  height: 40%;
}
.s-card-800 .s-card-content-45 {
  height: 45%;
}
.s-card-800 .s-card-content-50 {
  height: 50%;
}
.s-card-800 .s-card-content-55 {
  height: 55%;
}
.s-card-800 .s-card-content-60 {
  height: 60%;
}
.s-card-800 .s-card-content-65 {
  height: 65%;
}
.s-card-800 .s-card-content-70 {
  height: 70%;
}
.s-card-800 .s-card-content-75 {
  height: 75%;
}
.s-card-800 .s-card-content-80 {
  height: 80%;
}
.s-card-800 .s-card-content-85 {
  height: 85%;
}
.s-card-800 .s-card-content-90 {
  height: 90%;
}
.s-card-800 .s-card-content-95 {
  height: 95%;
}
.s-card-800 .s-card-content-100 {
  height: 100%;
}
.s-card-900 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 56.25em;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-900 .s-card-head,
.s-card-900 .s-card-body {
  width: 100%;
}
.s-card-900 .s-card-content {
  height: 10%;
}
.s-card-900 .s-card-content-15 {
  height: 15%;
}
.s-card-900 .s-card-content-20 {
  height: 20%;
}
.s-card-900 .s-card-content-25 {
  height: 25%;
}
.s-card-900 .s-card-content-30 {
  height: 30%;
}
.s-card-900 .s-card-content-35 {
  height: 35%;
}
.s-card-900 .s-card-content-40 {
  height: 40%;
}
.s-card-900 .s-card-content-45 {
  height: 45%;
}
.s-card-900 .s-card-content-50 {
  height: 50%;
}
.s-card-900 .s-card-content-55 {
  height: 55%;
}
.s-card-900 .s-card-content-60 {
  height: 60%;
}
.s-card-900 .s-card-content-65 {
  height: 65%;
}
.s-card-900 .s-card-content-70 {
  height: 70%;
}
.s-card-900 .s-card-content-75 {
  height: 75%;
}
.s-card-900 .s-card-content-80 {
  height: 80%;
}
.s-card-900 .s-card-content-85 {
  height: 85%;
}
.s-card-900 .s-card-content-90 {
  height: 90%;
}
.s-card-900 .s-card-content-95 {
  height: 95%;
}
.s-card-900 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-100 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 10%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-100 .s-card-head,
.s-card-flex-100 .s-card-body {
  width: 100%;
}
.s-card-flex-100 .s-card-content {
  height: 10%;
}
.s-card-flex-100 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-100 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-100 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-100 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-100 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-100 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-100 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-100 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-100 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-100 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-100 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-100 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-100 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-100 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-100 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-100 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-100 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-100 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-200 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 12.5%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-200 .s-card-head,
.s-card-flex-200 .s-card-body {
  width: 100%;
}
.s-card-flex-200 .s-card-content {
  height: 10%;
}
.s-card-flex-200 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-200 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-200 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-200 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-200 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-200 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-200 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-200 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-200 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-200 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-200 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-200 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-200 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-200 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-200 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-200 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-200 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-200 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-300 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 13.33333333%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-300 .s-card-head,
.s-card-flex-300 .s-card-body {
  width: 100%;
}
.s-card-flex-300 .s-card-content {
  height: 10%;
}
.s-card-flex-300 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-300 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-300 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-300 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-300 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-300 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-300 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-300 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-300 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-300 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-300 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-300 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-300 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-300 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-300 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-300 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-300 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-300 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-400 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 18.18181818%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-400 .s-card-head,
.s-card-flex-400 .s-card-body {
  width: 100%;
}
.s-card-flex-400 .s-card-content {
  height: 10%;
}
.s-card-flex-400 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-400 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-400 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-400 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-400 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-400 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-400 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-400 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-400 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-400 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-400 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-400 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-400 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-400 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-400 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-400 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-400 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-400 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-500 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 22.22222222%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-500 .s-card-head,
.s-card-flex-500 .s-card-body {
  width: 100%;
}
.s-card-flex-500 .s-card-content {
  height: 10%;
}
.s-card-flex-500 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-500 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-500 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-500 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-500 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-500 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-500 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-500 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-500 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-500 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-500 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-500 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-500 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-500 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-500 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-500 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-500 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-500 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-600 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 28.57142857%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-600 .s-card-head,
.s-card-flex-600 .s-card-body {
  width: 100%;
}
.s-card-flex-600 .s-card-content {
  height: 10%;
}
.s-card-flex-600 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-600 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-600 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-600 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-600 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-600 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-600 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-600 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-600 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-600 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-600 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-600 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-600 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-600 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-600 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-600 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-600 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-600 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-700 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 40%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-700 .s-card-head,
.s-card-flex-700 .s-card-body {
  width: 100%;
}
.s-card-flex-700 .s-card-content {
  height: 10%;
}
.s-card-flex-700 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-700 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-700 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-700 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-700 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-700 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-700 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-700 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-700 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-700 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-700 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-700 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-700 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-700 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-700 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-700 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-700 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-700 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-800 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 66.66666667%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-800 .s-card-head,
.s-card-flex-800 .s-card-body {
  width: 100%;
}
.s-card-flex-800 .s-card-content {
  height: 10%;
}
.s-card-flex-800 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-800 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-800 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-800 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-800 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-800 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-800 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-800 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-800 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-800 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-800 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-800 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-800 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-800 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-800 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-800 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-800 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-800 .s-card-content-100 {
  height: 100%;
}
.s-card-flex-900 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 100%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}
.s-card-flex-900 .s-card-head,
.s-card-flex-900 .s-card-body {
  width: 100%;
}
.s-card-flex-900 .s-card-content {
  height: 10%;
}
.s-card-flex-900 .s-card-content-15 {
  height: 15%;
}
.s-card-flex-900 .s-card-content-20 {
  height: 20%;
}
.s-card-flex-900 .s-card-content-25 {
  height: 25%;
}
.s-card-flex-900 .s-card-content-30 {
  height: 30%;
}
.s-card-flex-900 .s-card-content-35 {
  height: 35%;
}
.s-card-flex-900 .s-card-content-40 {
  height: 40%;
}
.s-card-flex-900 .s-card-content-45 {
  height: 45%;
}
.s-card-flex-900 .s-card-content-50 {
  height: 50%;
}
.s-card-flex-900 .s-card-content-55 {
  height: 55%;
}
.s-card-flex-900 .s-card-content-60 {
  height: 60%;
}
.s-card-flex-900 .s-card-content-65 {
  height: 65%;
}
.s-card-flex-900 .s-card-content-70 {
  height: 70%;
}
.s-card-flex-900 .s-card-content-75 {
  height: 75%;
}
.s-card-flex-900 .s-card-content-80 {
  height: 80%;
}
.s-card-flex-900 .s-card-content-85 {
  height: 85%;
}
.s-card-flex-900 .s-card-content-90 {
  height: 90%;
}
.s-card-flex-900 .s-card-content-95 {
  height: 95%;
}
.s-card-flex-900 .s-card-content-100 {
  height: 100%;
}
.s-card-relative {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0.19em !important;
  height: 100%;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  min-height: 2.25em;
}
.s-card-relative .s-card-head,
.s-card-relative .s-card-body {
  width: 100%;
}
.s-card-relative .s-card-content {
  height: 10%;
}
.s-card-relative .s-card-content-15 {
  height: 15%;
}
.s-card-relative .s-card-content-20 {
  height: 20%;
}
.s-card-relative .s-card-content-25 {
  height: 25%;
}
.s-card-relative .s-card-content-30 {
  height: 30%;
}
.s-card-relative .s-card-content-35 {
  height: 35%;
}
.s-card-relative .s-card-content-40 {
  height: 40%;
}
.s-card-relative .s-card-content-45 {
  height: 45%;
}
.s-card-relative .s-card-content-50 {
  height: 50%;
}
.s-card-relative .s-card-content-55 {
  height: 55%;
}
.s-card-relative .s-card-content-60 {
  height: 60%;
}
.s-card-relative .s-card-content-65 {
  height: 65%;
}
.s-card-relative .s-card-content-70 {
  height: 70%;
}
.s-card-relative .s-card-content-75 {
  height: 75%;
}
.s-card-relative .s-card-content-80 {
  height: 80%;
}
.s-card-relative .s-card-content-85 {
  height: 85%;
}
.s-card-relative .s-card-content-90 {
  height: 90%;
}
.s-card-relative .s-card-content-95 {
  height: 95%;
}
.s-card-relative .s-card-content-100 {
  height: 100%;
}
/*
####################### CARDS #######################
*/
