/*
####################### ROW - COL #######################
*/
.s-md-row:after,
.s-md-row:before {
  /*    display:table;
    content:""*/
}
.s-md-row {
  width: 100%;
}
.s-md-col-12 {
  width: 100%;
}
.s-md-col-11 {
  width: 91.66666667%;
}
.s-md-col-10 {
  width: 83.33333333%;
}
.s-md-col-9 {
  width: 75%;
}
.s-md-col-8 {
  width: 66.66666667%;
}
.s-md-col-7 {
  width: 58.33333333%;
}
.s-md-col-6 {
  width: 50%;
}
.s-md-col-5 {
  width: 41.66666667%;
}
.s-md-col-4 {
  width: 33.33333333%;
}
.s-md-col-3 {
  width: 25%;
}
.s-md-col-2 {
  width: 16.66666667%;
}
.s-md-col-1 {
  width: 8.33333333%;
}
.s-columns-2 > table td,
.s-columns-2 > table th,
.s-columns-2 > div {
  width: calc(49.101%);
}
.s-columns-3 > table td,
.s-columns-3 > table th,
.s-columns-3 > div {
  width: calc(32.43433333%);
}
.s-columns-4 > table td,
.s-columns-4 > table th,
.s-columns-4 > div {
  width: calc(24.101%);
}
.s-columns-5 > table td,
.s-columns-5 > table th,
.s-columns-5 > div {
  width: calc(19.101%);
}
.s-columns-6 > table td,
.s-columns-6 > table th,
.s-columns-6 > div {
  width: calc(15.76766667%);
}
.s-columns-12 > table td,
.s-columns-12 > table th,
.s-columns-12 > div {
  width: calc(7.43433333%);
}
.s-columns-2 > table,
.s-columns-3 > table,
.s-columns-4 > table,
.s-columns-5 > table,
.s-columns-6 > table,
.s-columns-7 > table,
.s-columns-8 > table {
  border-collapse: collapse;
}
.s-columns-2 > table thead,
.s-columns-3 > table thead,
.s-columns-4 > table thead,
.s-columns-5 > table thead,
.s-columns-6 > table thead,
.s-columns-7 > table thead,
.s-columns-8 > table thead {
  width: 100%;
}
/*
####################### ROW - COL #######################
*/
