/*
####################### TABLE #######################
*/
.s-table {
  padding: 0.3125em;
  height: 100%;
  min-width: calc(98.55%);
  max-width: calc(98.44%);
}
.s-table * {
  color: #404040;
  font: 300 13px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  vertical-align: central;
}
.s-table > table {
  width: 100%;
}
.s-table > table > tthead,
.s-table > table > tbody {
  width: 100%;
}
.s-table > table > tthead > tr,
.s-table > table > tbody > tr {
  width: 100%;
}
.s-table > table > tthead > tr > th,
.s-table > table > tbody > tr > th,
.s-table > table > tthead > tr > td,
.s-table > table > tbody > tr > td {
  width: 100%;
}
.s-table .s-table-head,
.s-table .s-table-body {
  width: 100%;
}
.s-table .s-table-head table,
.s-table .s-table-body table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.s-table .s-table-head table thead,
.s-table .s-table-body table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.s-table .s-table-head table tbody,
.s-table .s-table-body table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.s-table .s-table-head table tr,
.s-table .s-table-body table tr {
  display: table-row;
  border-color: inherit;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td,
.s-table .s-table-head table th,
.s-table .s-table-body table th {
  display: table-cell;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td,
.s-table .s-table-head table tr,
.s-table .s-table-body table tr,
.s-table .s-table-head table th,
.s-table .s-table-body table th {
  border-color: #e9e9e9;
  border-width: 1px;
  border-style: solid;
}
.s-table .s-table-head table td div,
.s-table .s-table-body table td div,
.s-table .s-table-head table tr div,
.s-table .s-table-body table tr div,
.s-table .s-table-head table th div,
.s-table .s-table-body table th div {
  padding: 0.4375em 0.625em 0.375em;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.s-table .s-table-head table th,
.s-table .s-table-body table th {
  height: 3.125em;
  border-top-color: white;
  border-bottom-width: 0.15625em;
}
.s-table .s-table-head table td,
.s-table .s-table-body table td {
  height: 2.5em;
  white-space: nowrap;
  vertical-align: top;
}
.s-table .s-table-head table th:first-child,
.s-table .s-table-body table th:first-child,
.s-table .s-table-head table td:first-child,
.s-table .s-table-body table td:first-child {
  border-left-color: white;
}
.s-table .s-table-head table th:last-child,
.s-table .s-table-body table th:last-child,
.s-table .s-table-head table td:last-child,
.s-table .s-table-body table td:last-child {
  border-right-color: white;
}
.s-table .s-table-head table tr:last-child td,
.s-table .s-table-body table tr:last-child td {
  border-bottom-color: white;
}
.s-table .s-table-head table tbody,
.s-table .s-table-body table tbody {
  overflow-y: scroll;
  height: calc(100%);
  width: 100%;
}
.s-table .s-table-head table tbody tr:nth-child(odd),
.s-table .s-table-body table tbody tr:nth-child(odd) {
  background-color: white;
}
.s-table .s-table-head table tbody tr:nth-child(even),
.s-table .s-table-body table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.table-Sek table,
thead,
tr,
td,
th {
  height: 100%;
  width: 100%;
}
.table-Sek table th,
.table-Sek table td {
  border-right: 1px solid #ececec;
}
/*
####################### TABLE #######################
*/
