<!DOCTYPE html>
<div class="s-md-row margin-left-1 s-columns-4">
    <div class="s-card ">
        <div class="s-card-body s-md-back-Green-300">  
            <div class="s-card-content" >                        
                <div class="s-center s-uppercase s-size-14 s-md-font-White title">                           
                    <span>giro ativo</span>
                </div>
            </div> 
            <div class="s-card-content"  id="card-graphic-ga" >                        

            </div>              
        </div>       
        <div class="s-card-action">
            <div class="s-uppercase s-size-12 s-md-font-GrayCyan-200">          
                <json bind-value='bovespa.profitability.ga.analysis'></json>   
            </div>
        </div> 
    </div>
    <div class="s-card">
        <div class="s-card-body s-md-back-Green-300">
            <div class="s-card-content" >                        
                <div class="s-center s-uppercase s-size-14 s-md-font-White title">                           
                    <span>Margem Líquida</span>
                </div>
            </div> 
            <div class="s-card-content"  id="card-graphic-ml" >                        

            </div>              
        </div>       
        <div class="s-card-action">
            <div class="s-uppercase s-size-12 s-md-font-GrayCyan-200">          
                <json bind-value='bovespa.profitability.ml.analysis'></json>   
            </div>
        </div> 
    </div>
    <div class="s-card">
        <div class="s-card-body s-md-back-Green-300">
            <div class="s-card-content" >                        
                <div class="s-center s-uppercase s-size-14 s-md-font-White title">                           
                    <span>Rentabilidade do Ativo</span>
                </div>
            </div> 
            <div class="s-card-content"  id="card-graphic-ra" >                        

            </div>              
        </div>       
        <div class="s-card-action">
            <div class="s-uppercase s-size-12 s-md-font-GrayCyan-200">          
                <json bind-value='bovespa.profitability.ra.analysis'></json>   
            </div>
        </div> 
    </div>
    <div class="s-card">
        <div class="s-card-body s-md-back-Green-300">
            <div class="s-card-content" >                        
                <div class="s-center s-uppercase s-size-14 s-md-font-White title">                           
                    <span>Rentabilidade do Patrimônio líquido</span>
                </div>
            </div> 
            <div class="s-card-content"  id="card-graphic-rpl" >                        

            </div>              
        </div>       
        <div class="s-card-action">
            <div class="s-uppercase s-size-12 s-md-font-GrayCyan-200">          
                <json bind-value='bovespa.profitability.rpl.analysis'></json>   
            </div>
        </div> 
    </div>
</div>
